{%- style -%}
  #Banner2-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }} !important;
  }
  .banner2{display:block;}
  .banner2:after{
    left: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.511) 4.65%, rgba(0, 0, 0, 0.7) 98.26%) !important;
  }
  .z-index-2{z-index:2}
{%- endstyle -%}

 <div class="text-sm-center">
    <div id="Banner2-{{ section.id }}" class="banner banner2" 
      {% if section.settings.section-image != blank %}
        style="background:url('{{section.settings.section-image | image_url}}') no-repeat top center; min-height: 140px;width: 100%; background-size: cover;"
      {% else %}
        style="background:url('https://cdn.shopify.com/s/files/1/0690/8071/1488/files/gradient-wide-banner_1440_x_160_px.jpg?v=1760710251') no-repeat top center; min-height: 140px;width: 100%; background-size: cover;"
      {% endif %} >
       <div class="z-index-2 position-relative">  
         <div class="page-width position-relative z-index-1 pb-lg-5 pt-lg-5 pt-sm-5 pb-sm-5">
            <div class="grid grid--1-col grid--1-col-tablet grid--2-col-desktop justify-content-center align-items-center">
              <div class="grid__item text-white col-lg-9 col-md-100 text-md-center">
                <h2 class="heading_size_desktop heading_size_mobile text-uppercase font-tungsten font-lg-54 font-sm-44 mt-0 mb-0 lh-xl-78 lh-sm-40 heading_color">{{section.settings.heading}}</h2>
                <p class="mt-lg-1 mb-lg-1 md-sm-2 mt-sm-2 font-sm-14 font-lg-16 lh-sm-16 lh-lg-18 gotham-medium para-color-1 para-size-1">{{ section.settings.paragrap-title }}</p>
              </div>
              <div class="grid__item col-lg-20 col-md-100">
                <div class="d-flex justify-content-lg-end justify-content-sm-center justify-content-md-center text-center">
                  <a href="{{section.settings.section-button-url}}" class="btn-white min-w-lg-225 min-w-md-180 min-w-sm-160 font-sm-12 font-md-14 text-uppercase" target="_blank">{{section.settings.section-button}}</a>
                </div>  
              </div>
            </div>
         </div> 
       </div>  
    </div>
</div> 
<style>
  #shopify-section-{{ section.id }} {
    .heading_color {
      color: {{ section.settings.heading_color }};
    }
    .heading_size_desktop {
      font-size: {{ section.settings.heading_size_desktop }}px;
      line-height: {{ section.settings.heading_size_desktop }}px;
    }
    .para-color-1 {
      color: {{ section.settings.paragrap_color_1 }};
    }
    .para-color-2 {
      color: {{ section.settings.paragrap_color_2 }};
    }
    .para-size-1 {
      font-size: {{ section.settings.paragrap_size_desktop_1 }}px;
      line-height: {{ section.settings.paragrap_height_desktop_1 }}px;
    }
    .para-size-2 {
      font-size: {{ section.settings.paragrap_size_desktop_2 }}px;
      line-height: {{ section.settings.paragrap_height_desktop_2 }}px;
    }

    {% if section.settings.button_style == 'custom' %}
      .btn-white {
        background: black;
        color: #ffffff;
      }
      .btn-white::before {
        background: #ffffff !important;
      }
      .btn-white:hover {
        color: black !important;
      }
    {% endif %}

    @media(max-width:450px) {
      .bg-image-text-button {
        .heading_size_mobile {
          font-size: {{ section.settings.heading_size_mobile }}px !important;
          line-height: {{ section.settings.heading_size_mobile }}px !important;
        }
        .para-size-1 {
          font-size: {{ section.settings.paragrap_size_mobile_1 }}px;
          line-height: {{ section.settings.paragrap_height_mobile_1 }}px;
        }
        .para-size-2 {
          font-size: {{ section.settings.paragrap_size_mobile_2 }}px;
          line-height: {{ section.settings.paragrap_height_mobile_2 }}px;
        }
      }
    }
  }
 
</style>
{% schema %}
  {
    "name": "Bg Image Text Button",
    "class": "bg-image-text-button",
    "presets": [
      {
        "name": "Bg Image Text Button",
        "category": "Bg Image Text Button"
      }
    ],
    "settings": [
        {
			"type":"text",
			"id":"heading",
			"label": "Heading Title"
	   },
     {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "heading_size_desktop",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading size Desktop",
      "default": 35
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
       "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading size Mobile",
      "default": 27
    },
       {
 			"type": "image_picker",
 			"id": "section-image",
 			"label": "Section Image"
 		},
      {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
          "default": 10
        },
       {
         "type": "text",
         "id": "paragrap-title",
         "label": "Paragraph Title"
      },
      {
        "type": "color",
        "id": "paragrap_color_1",
        "label": "Paragraph color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "paragrap_size_desktop_1",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Paragraph size Desktop",
        "default": 17
      },
      {
        "type": "range",
        "id": "paragrap_size_mobile_1",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Paragraph size Mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "paragrap_height_desktop_1",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Paragraph Line Height Desktop",
        "default": 24
      },
      {
        "type": "range",
        "id": "paragrap_height_mobile_1",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Paragraph Line Height Mobile",
        "default": 24
      },
       {
 			"type": "text",
 			"id": "section-button",
 			"label": "Section Button Title"
 		},
		{
			"type": "url",
 			"id": "section-button-url",
 			"label": "Button Link"
	  },
    {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "custom",
            "label": "Custom Black Button"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
