{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{% render 'partial-style', section: section %}
{%- style -%}
  .banner__media video{
        object-fit: cover;
  }
  #Banner-{{ section.id }} .banner__box {
      max-width: 100%;
  }
  #Banner-{{ section.id }} .button:after {
      border-radius: 12px;
  }
  #Banner-{{ section.id }} .banner__buttons .button {
    font-size: 14px;
    line-height: 40px;
    padding: 6px 0px;
    font-family: "Inter-Medium";
    margin: 0px 8px;
    min-width: 160px;
  }
  @media screen and (min-width: 750px) {
      .banner__content {
          padding: 3rem;
      }
  }
  @media screen and (max-width: 749px) {
    .banner__box {
        padding: 4rem 0rem;
    }
    {% if section.settings.mobile_content_alignment == 'left' %}
    .banner--content-align-mobile-left * {
        text-align: left !important;
        margin-left:0px !important;
    }    
    {% endif %}

    #Banner-{{ section.id }}.banner--adapt, #Banner-{{ section.id }}.banner--adapt_image.banner--mobile-bottom .banner__media:not(.placeholder) {
        min-height: 81.4vh;
    }
    
    {%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{section.settings.image_mobile_height}}%;
      content: '';
      display: block;
    }
    {%- endif -%}
    {% if section.settings.image_height == 'small' %}     
      #Banner-{{ section.id }}.banner--small:not(.banner--adapt) {
          min-height: 50.5rem;
      }     
    {% endif %}    
    {% if section.settings.image_height == 'medium' %}     
      #Banner-{{ section.id }}.banner--medium:not(.banner--adapt) {
          min-height: 60rem;
      }     
    {% endif %}    
    {% if section.settings.image_height == 'large' %}
      #Banner-{{ section.id }}.banner--large:not(.banner--adapt) {
          min-height: 91.5vh;
      }
    {% endif %}
    {% if section.settings.image_height == 'extra_large' %}
      #Banner-{{ section.id }}.banner--extra_large:not(.banner--adapt) {
          min-height: 77.5vh;
      }
    {% endif %}    
    #Banner-{{ section.id }} .banner__buttons .button {
      min-width: 300px;
      margin: 4px 0px;
    }    
  }

  @media screen and (min-width: 750px) {
    {%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
    {%- endif -%}
    {% if section.settings.image_height == 'small' %}     
      #Banner-{{ section.id }}.banner--small:not(.banner--adapt) {
          min-height: 53rem;
      }     
    {% endif %}     
    {% if section.settings.image_height == 'medium' %}     
      #Banner-{{ section.id }}.banner--medium:not(.banner--adapt) {
          min-height: 75rem;
      }     
    {% endif %}
    {% if section.settings.image_height == 'large' %}     
      #Banner-{{ section.id }}.banner--large:not(.banner--adapt) {
          min-height: 72rem;
      }
    {% endif %}
    {% if section.settings.image_height == 'extra_large' %}
      #Banner-{{ section.id }}.banner--extra_large:not(.banner--adapt) {
          min-height: 110vh;
      }
    {% endif %}   
  }
{%- endstyle -%}

{%- style -%}
  #Banner-{{ section.id }} {
    overflow: hidden;
  }
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }} !important;
    content: "" !important;
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0%;
    top: auto;
    bottom: 0%;
    background: #01dfcb !important;
    filter: blur(200px);
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 1;
    display: block !important;
  }
  #Banner-{{ section.id }}::before {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }} !important;
    content: "" !important;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 0%;
    bottom: 0%;
    background: #0968e7 !important;
    filter: blur(100px);
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 1;
    padding: 0px !important;
    display: block !important;
}
  #Banner-{{ section.id }} .banner__box>*+.banner__buttons {
      margin-top: 0.8rem;
  }

@media screen and (max-width: 749px) {
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }} !important;
    content: "" !important;
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0%;
    top: auto;
    bottom: 0%;
    background: #01dfcb !important;
    filter: blur(80px);
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 1;
    display: block !important;
  }
  #Banner-{{ section.id }}::before {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }} !important;
    content: "" !important;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 0%;
    bottom: 0%;
    background: #0968e7 !important;
    filter: blur(80px);
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 1;
    padding: 0px !important;
    display: block !important;
  }
  #Banner-{{ section.id }} .banner:after, #Banner-{{ section.id }} .banner__media:after {
      opacity: 0 !important;        background-color: transparent !important;
  }
}
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="section-{{ section.id }}-padding banner banner-with-text {{ section.settings.class }} {% if settings.transparent_header contains template or settings.transparent_header contains handle %} transparent--banner {% endif %} color-{{ section.settings.color_scheme }} gradient banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%} {% if section.settings.show_text_below and section.settings.show_text_above %} banner--mobile-top {% endif %}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
{%- comment -%} DESKTOP {%- endcomment -%}
{%- if section.settings.video != blank -%}
  <div class="banner__media media{% unless section.settings.image_behavior == 'none' %} animate--{{ section.settings.image_behavior }}{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ section.settings.video
       | video_tag:
           autoplay: true,
           muted: true,
           loop: true,
           playsinline: true,
           controls: false,
           class: 'banner-video small-hide' }}
  </div>
{%- elsif section.settings.image != blank -%}
  <div class="banner__media media{% unless section.settings.image_behavior == 'none' %} animate--{{ section.settings.image_behavior }}{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- liquid
      assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
      assign sizes = full_width
    -%}
    {{ section.settings.image
       | image_url: width: 3840
       | image_tag:
           width: section.settings.image.width,
           height: image_height,
           sizes: sizes,
           class: 'small-hide',
           widths: widths,
           fetchpriority: fetch_priority }}
  </div>
{%- endif -%}

{%- comment -%} MOBILE {%- endcomment -%}
{%- if section.settings.video_mobile != blank -%}
  <div class="banner__media media medium-hide large-up-hide{% unless section.settings.image_behavior == 'none' %} animate--{{ section.settings.image_behavior }}{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ section.settings.video_mobile
       | video_tag:
           autoplay: true,
           muted: true,
           loop: true,
           playsinline: true,
           controls: false,
           class: 'banner-video' }}
  </div>
{%- elsif section.settings.image_mobile != blank -%}
  <div class="banner__media media medium-hide large-up-hide">
    {{ section.settings.image_mobile
       | image_url: width: 1840
       | image_tag:
           width: section.settings.image_mobile.width,
           height: section.settings.image_mobile.height,
           sizes: sizes,
           class: 'medium-hide large-up-hide',
           widths: widths,
           fetchpriority: fetch_priority }}
  </div>
{%- endif -%}

  
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} content-xs--{{ section.settings.mobile_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2
              class="banner__heading inline-richtext {{ block.settings.heading_size }}"
              {{ block.shopify_attributes }}
            > 
              {{ block.settings.heading }}
            </h2>
          {%- when 'text' -%}
            <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <p>{{ block.settings.text }}</p>
            </div>
          {%- when 'buttons' -%}
            <div
              class="banner__buttons {% if block.settings.no_spacing %} mt--0 {% endif %} {% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.button_label_1 != blank -%}
                <div class="antr--button">
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_1 | escape -}}
                  {% if block.settings.arrow %}
                    <div class="button-arrow">
                      <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M25.2136 6.68502C25.2133 6.68531 25.213 6.68565 25.2127 6.68594L20.11 11.7182C19.7277 12.0952 19.1094 12.0938 18.7288 11.7149C18.3484 11.3361 18.3498 10.7234 18.7321 10.3463L22.1581 6.96774H1.47656C0.937207 6.96774 0.5 6.53448 0.5 6C0.5 5.46552 0.937207 5.03226 1.47656 5.03226H22.158L18.7322 1.65368C18.3499 1.27664 18.3484 0.663917 18.7289 0.285093C19.1094 -0.0938263 19.7278 -0.0951319 20.11 0.281803L25.2127 5.31406C25.213 5.31435 25.2133 5.31469 25.2136 5.31498C25.5961 5.69327 25.5949 6.30798 25.2136 6.68502Z" fill="currentColor"/> </svg>
                    </div>
                  {% endif %}
                </a>
                </div>
              {%- endif -%}
            </div>
          {%- when 'space' -%}
            <div class="space-content line--0 mg--0 padding-bottom-{{ block.settings.space }} padding-bottom-md-{{ block.settings.space_tablet }} padding-bottom-xs-{{ block.settings.space_mobile }}">&nbsp;</div>   
          {%- when 'text_custom' -%}
            {% assign size = block.settings.size | split: ',' %}
            {% assign height = block.settings.height | split: ',' %}
            <div
              class="mg--0 w-full {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
              {% endif %}
              {% if settings.animations_reveal_on_scroll %}
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              <{{ block.settings.tag }}
                class="text--custom mg--0 {{ block.settings.class }} {{ block.id }} {{ block.settings.font }} {% if block.settings.align == "center" %} text-center m-auto  {% endif %} {% if block.settings.align == "right" %} text-right m-auto mr--0 {% endif %} mt--0 mb--0 {% if size[0] != blank %}size-{{ size[0] }}{% endif %} {% if height[0] != blank %}line-{{ height[0] }}{% endif %} {% if size[1] != blank %}size-md-{{ size[1] }}{% endif %} {% if height[1] != blank %}line-md-{{ height[1] }}{% endif %} {% if size[2] != blank %}size-xs-{{ size[2] }}{% endif %} {% if height[2] != blank %}line-xs-{{ height[2] }}{% endif %}"
                style="{% if block.settings.color != blank %} color: {{ block.settings.color }}; {% endif %}"
                {{ block.shopify_attributes }}
              >
                {% if block.settings.html != blank %}
                  {{ block.settings.html }}
                {% else %}
                  {{ block.settings.heading }}
                {% endif %}
              </{{ block.settings.tag }}>
            </div>
            {% if block.settings.space != 0 or block.settings.space_mobile != 0 %}
              <div class="space-content line--0 mg--0 padding-bottom-{{ block.settings.space }} padding-bottom-md-{{ block.settings.space_tablet }} padding-bottom-xs-{{ block.settings.space_mobile }}">
                &nbsp;
              </div>
            {% endif %}

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
<script>
        Object.defineProperty(HTMLMediaElement.prototype, 'playing', {
          get: function () {
          return !!(this.currentTime > 0 && !this.paused && !this.ended && this.readyState > 2);
          }
        });
        
        document.body.addEventListener("click", playVideoOnLowPower);
        document.body.addEventListener("touchstart", playVideoOnLowPower);
      
        function playVideoOnLowPower(){
          try{
          const videoElements = document.querySelectorAll("video");
          for (i = 0; i < videoElements.length; i++) {
            if (videoElements[i].playing) {
            } else {
            videoElements[i].play();
            }
          }
          }
          catch(err) {
          console.log(err);
          }
        }
    </script>

{% schema %}
{
  "name": "Banner with text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
  "type": "video",
  "id": "video",
  "label": "Video desktop"
},
{
  "type": "video",
  "id": "video_mobile",
  "label": "Video mobile"
}
,
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image mobile"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "extra_large",
          "label": "Extra large"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "Mobile content position"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_above",
      "default": false,
      "label": "Show text above",
      "info": "Show container on mobile need to enabel"
    },
    {
      "type": "range",
      "id": "image_mobile_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image height",
      "default": 100
    },
    {
      "type": "html",
      "id": "class",
      "label": "Class"
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "Button style secondary"
        }
      ]
    },
    {
      "type": "space",
      "name": "Space",
      "settings": [
        { "type": "range", "id": "space", "min": 0, "max": 100, "step": 1, "unit": "px", "label": "Space desktop", "default": 0 },
        { "type": "range", "id": "space_table", "min": 0, "max": 100, "step": 1, "unit": "px", "label": "Space desktop", "default": 0 },
        { "type": "range", "id": "space_mobile", "min": 0, "max": 100, "step": 1, "unit": "px", "label": "Space mobile", "default": 0 }
      ]
    },
    {
      "type": "text_custom",
      "name": "Text customization",
      "settings": [
        {
          "type": "color", "id": "color", "label": "Color"
        },
        {
          "type": "color_background", "id": "color_custom", "label": "Custom color ", "info": "This section applies color to text with the italic property."
        },
        {
          "type": "select",
          "id": "font_custom",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "inter-regular", "label": "Inter-Regular" },
            { "value": "inter-medium", "label": "Inter-Medium" },
            { "value": "inter-semibold", "label": "Inter-SemiBold" },
            { "value": "arial", "label": "Arial" }
          ],
          "default": "none", "label": "Font",
          "info": "This section applies font to text with the italic property."
        },
        {
          "type": "select",
          "id": "align",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "left", "label": "Align"
        },
        {
          "type": "select",
          "id": "tag",
          "options": [
            { "value": "h1", "label": "h1" },
            { "value": "h2", "label": "h2" },
            { "value": "h3", "label": "h3" },
            { "value": "p", "label": "p" },
            { "value": "div", "label": "div" }
          ],
          "default": "h1", "label": "Tag"
        },
        {
          "type": "inline_richtext", "id": "heading", "label": "Text"
        },
        {
          "type": "html", "id": "html", "label": "Html"
        },
        {
          "type": "select",
          "id": "font",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "inter-regular", "label": "Inter-Regular" },
            { "value": "inter-medium", "label": "Inter-Medium" },
            { "value": "inter-semibold", "label": "Inter-SemiBold" },
            { "value": "arial", "label": "Arial" }
          ],
          "default": "none", "label": "Font"
        },
        { "type": "text", "id": "size", "label": "Size", "info": "Values are separated by a ',' symbol, with each value corresponding to desktop, tablet, and mobile, e.g., 36,20,18." },
        { "type": "text", "id": "height", "label": "Line height", "info": "Values are separated by a ',' symbol, with each value corresponding to desktop, tablet, and mobile, e.g., 36,20,18." },
        { "type": "text", "id": "spacing", "label": "Spacing", "info": "Values are separated by a ',' symbol, with each value corresponding to desktop, tablet, and mobile, e.g., 36,20,18." },
        { "type": "text", "id": "width", "label": "Width text", "info": "Values are separated by a ',' symbol, with each value corresponding to desktop, tablet, and mobile, e.g., 36,20,18." },
        {
          "type": "header", "content": "Other settings"
        },
        { "type": "range", "id": "space", "min": 0, "max": 100, "step": 1, "unit": "px", "label": "Space desktop", "default": 0 },
        { "type": "range", "id": "space_tablet", "min": 0, "max": 100, "step": 1, "unit": "px", "label": "Space table", "default": 0 },
        { "type": "range", "id": "space_mobile", "min": 0, "max": 100, "step": 1, "unit": "px", "label": "Space mobile", "default": 0 },
        {
          "type": "html", "id": "class", "label": "Custom class", "info": "ex: text-center size-18 line-20 size-xs-16 line-xs-18"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner with text",
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
