<div class="pb-lg-5 pt-lg-5 pt-sm-5 pb-sm-0 text-sm-center text-md-center mb-sm-3 mt-lg-3">
  <div class="page-width pb-lg-2 pt-lg-5 pt-sm-0 pb-sm-0 text-sm-center">
     <div class="grid grid--1-col product-grid grid--1-col-tablet grid--2-col-desktop">
       <div class="grid__item mb-1">
        <h2 class="text-uppercase section-medium-title section-title-sm mt-0 mb-0 mt-sm-1 lh-xl-78">{{section.settings.heading}}</h2>
        <h2 class="section-sub-title text-teal mt-0 mb-0 lh-xl-78 ps-lg-2 mt-n1">{{section.settings.sub-heading}}</h2>
       </div>
     </div>   
  </div> 
 {% if section.settings.background_color != "#00C0F7" %}
    <div class="light-teal border-radius-sm-3 text-sm-center min-h-lg-340 mt-sm-p-40">
  {% endif %}  
 <div class="min-h-lg-340" style="background:{{ section.settings.background_color }}">
  <div class="page-width pb-lg-3 pt-lg-3 pt-sm-5 pb-sm-2 text-black">
    <div class="grid grid--1-col product-grid grid--1-col-tablet grid--2-col-desktop justify-content-center align-items-start position-relative">
     
       <div class="grid__item order-sm-last order-md-last">
         <p class="findtext fw-bold font-sm-14 pt-md-4 pb-3">{{ section.settings.paragrap-title }}</p>
          <a href="{{section.settings.section-button-url}}" class="btn-black justify-content-center text-uppercase font-sm-14">{{section.settings.section-button}}</a>
       </div>
        <div class="grid__item justify-content-sm-center justify-content-md-center justify-content-lg-end justify-content-sm-center justify-content-md-center d-flex order-sm-first order-md-first">
          <div class="become-img-right-position"><img class="flex-lea max-img-fluid mt-nt-md-10" src="{{section.settings.section-image | image_url}}" /></div>
       </div>
    </div>
  </div>
</div>
</div> 
</div>  
{% schema %}
  {
    "name": "Flex Leagues Light Color",
    "presets": [
      {
        "name": "Flex Leagues Light Color",
        "category": "Flex Leagues Light Color"
      }
    ],
   "settings": [
       {
			"type":"text",
			"id":"heading",
			"label": "Heading Title"
		},
      {
       "type": "text",
       "id": "sub-heading",
       "label": "Subtitle"
      },
      {
       "type": "text",
       "id": "paragrap-title",
       "label": "Description Title"
      },
      {
 			"type": "image_picker",
 			"id": "section-image",
 			"label": "Section Image"
 		},
      {
 			"type": "text",
 			"id": "section-button",
 			"label": "Button Title"
 		},
		{
			"type": "url",
 			"id": "section-button-url",
 			"label": "Button Link"
		},
        {
           "type": "color",
           "id": "background_color",
           "label": "Background color",
           "default": "#e2f8fe"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}