{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<style>
  
  .section-title.section-title-large {
    font-size: 80px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-small {
    font-size: 35px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}
  

  @media screen and (max-width: 749px){
    .section-title.section-title-large {
    font-size: 60px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-small {
    font-size: 26px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-medium {
    font-size: 40px;
}
  }
  
  .flagbottominput{ 
    padding-left: 1rem !important;
    padding-top: 8px !important;
  }
  .placeholder input::-webkit-input-placeholder { 
  color: var(--color-black);
}
  .placeholder input:-ms-input-placeholder {
  color: var(--color-black);
}
  .placeholder input::-moz-placeholder { 
 color: var(--color-black);
  opacity: 1;
}
  .placeholder input:-moz-placeholder {
  color: var(--color-black);
  opacity: 1;
}
  .border-bottom-white{        
    background: #DBF6FE;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }
  .border-bottom-white:focus{
    background:#00C0F7;font-family: "Gotham-Bold";
  }
 .flagdropdown dd, .flagdropdown dt,  dl.flagdropdown, .flagdropdown ul {
	margin: 0px;
	padding: 0px;
}
.flagdropdown dd ul li a span:first-child, .flagdropdown dt a span span:first-child {
	background-image: url('https://i.imgur.com/OQiDoZe.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
	display: inline-block;
	margin-right:5px;
}
.flagdropdown dt a span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--color-black);
  font-size:14px;
  padding: 5px 0;
  white-space: nowrap;
}
.flagdropdown dt a img {
	position: relative;
	z-index: 1;
}
.flagdropdown dt a span span:first-child:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.flagdropdown dt a span span {
	display: inline-block;
	padding: 0;
}
.flagdropdown dt a span span:first-child {
	padding: 0;
}
.flagdropdown dd {
	position: relative;
}
.flagdropdown a, .flagdropdown a:visited {
	color: #4a535f;
	text-decoration: none;
	outline: none;
}
.flagdropdown a:hover {
	color: #5d4617;
}
.flagdropdown dt a:hover, .flagdropdown dt a:focus {
	color: var(--color-black);
}
.flagdropdown dt a {
	position: relative;
	display: block;
	padding-right: 26px;
    font-family: "gotham-light";
}
.flag-b-right{position: relative;}  
.flag-b-right:after{
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    background: var(--color-black);
    height: 24px;
    width: 1px;
    opacity:0.3
}
.flagdropdown dt a:after{
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    border-top: solid 6px var(--color-black);
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-radius: 2px;
}
.flagdropdown dd ul {
	background: var(--color-white);
	color: var(--color-black);
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	width: 270px;
	list-style: none;
	max-height: 170px;
	overflow-y: scroll;
	top:10px;
	z-index: 2;
}
.flagdropdown span.value {display: none;}
.flagdropdown dd ul li a {
	padding: 5px;
	display: block;
	font-size: 14px !important;
    color:var(--color-black);
}
.flagdropdown dd ul li a:hover{background-color: rgba(0,0,0,0.05);}
dl.flagdropdown > span:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}
dl.flagdropdown span:nth-child(3) {float: right;}
dl.flagdropdown dt span:nth-child(2),
dl.flagdropdown dt span:nth-child(3){color:#fff;display: none;}
.countryFlag {
	padding: 0;
	background-image: url("https://i.imgur.com/OQiDoZe.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 11px;
	margin-right: 4px;
	width: 16px;
	cursor: pointer;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #BFBFC1 #B6B6B6 #969696;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}

   /* popup style */
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
            z-index: 999; /* Ensure the overlay appears behind the popup */
        }

        /* Popup style */
        #mailuspopup {
            background: var(--color-gray);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 16px;
            z-index: 1000; /* Ensure the popup appears above the overlay */
            transition: transform 0.3s ease-in-out; /* Add a transition for smooth zoom-in effect */
        }
       #mailuspopup button.mfp-close {
         color: var(--body-bg);
       }
.checkbox-touch {
  display: flex;
  align-items: start;
  .label-touch {
    width: 80%;
  }
}
  @media screen and (max-width: 450px) {
    .get-touch-form {
      select {
        border-radius: 12px;
      }
      .checkbox-touch {
        #showDivCheckbox {
          margin: unset;
          border: unset;
          padding: 10px 15px;
        }
        .label-touch {
          font-size: 12px;
        }
      }
    }
  }
  
</style>
<div class="page-width text-center pt-lg-3 pt-sm-3">
  <div class="mb-2 mb-sm-1">
                    {% case section.settings['heading-size'] %}
      {% when 'h1' %}
        <h1 class="text-uppercase section-title section-title-large mb-0">
          
          {{ section.settings.heading }}
        </h1>
      {% when 'h2' %}
        <h2 class="text-uppercase section-title section-title-medium mb-0">
          
          {{ section.settings.heading }}
        </h2>
      {% when 'h3' %}
        <h3 class="text-uppercase section-title section-title-small mb-0">
          
          {{ section.settings.heading }}
        </h3>
    {% endcase %}
    
      {%- if section.settings.heading-permission == "YES" -%}
    <div class="divider-sm-teal divider-lg-teal"></div>
    {%- endif -%}
  </div>    
  <p class="findtext lh-sm-15 fw-bold font-sm-14 pt-lg-0 w-xl-75 pb-lg-5 pt-sm-2 pb-sm-4 text-center mr-auto">{{ section.settings.description}}</p>   
</div> 
<div class="page-width pb-lg-5 pt-lg-3 pt-sm-1 pb-sm-4">
  <div class="grid grid--1-col grid--1-col-tablet grid--2-col-desktop">
    <div class="grid__item">
       <img class="img-fluid border-radius-lg-3 border-radius-sm-3" src="{{section.settings.section-image | image_url}}" />
    </div>
    <div class="grid__item">
      <form class="get-touch-form" name="get-in-touch-form" autocomplete="off"> 
        <div class="grid grid--1-col grid--1-col-tablet grid--1-col-desktop">
          <div class="grid__item">
            <div class="form-group">
              <label>What describes you best?</label>
              <select class="form-control" id="ut-git-typeSelect" name="describeTypeSelect">
                <option selected="" value=""></option>
            	<option value="1">Provider or Coach running events, leagues, tournaments</option>
            	<option value="2">Player or Parent needing help</option>
            	<option value="3">Potential Partner</option>
             </select>
            </div>
          </div>
        </div><!--./grid-->
        <div class="grid grid--1-col grid--1-col-tablet grid--1-col-desktop">
          <div class="grid__item">
            <div class="form-group">
              <label>Sport</label>
              <select class="form-control" id="ut-git-sportsTypeSelect" name="sportsTypeSelect">
                <option selected="" value=""></option>
            	<option value="1">Tennis</option> 
            	<option value="2">Pickleball</option>
            	<option value="3">Both Tennis and Pickleball</option>
             </select>
            </div>
          </div>
        </div><!--./grid-->
        <div class="grid grid--1-col grid--2-col-tablet grid--2-col-desktop">
          <div class="grid__item">
            <div class="form-group">
              <label>First Name</label>
              <input id="ut-git-fnInput" class="form-control" name="fName" type="text" required/> 
            </div>
          </div>
          <div class="grid__item">
            <div class="form-group">
              <label>Last Name</label>
              <input id="ut-git-lnInput" class="form-control" name="lName" type="text" />
            </div>
          </div>
        </div><!--./grid-->
        <div class="grid grid--1-col grid--2-col-tablet grid--2-col-desktop">
          <div class="grid__item">
            <div class="form-group">
              <label>Email</label>
              <input id="ut-git-emailInput" class="form-control" name="Email" type="email" />
            </div>
          </div>
          <div class="grid__item">
            <div class="form-group position-relative">
             <label>Phone Number</label>
             <div class="d-flex border-bottom-white placeholder">
               <div class="">
                  <dl id="country-select" class="flagdropdown">
                    <dt class="flag-b-right"><a href="javascript:void(0);"><span><span style="background-position:0px -44px"></span><span>United States</span><span>+1</span></span></a></dt>
                    <dd>
                      <ul style="display: none;">
                        <li><a cunt_code="+1" href="javascript:void(0);"><span style="background-position:0px -44px"></span><span>United States</span><span>+1</span></a></li>
                        <li><a cunt_code="+93" href="javascript:void(0);"><span style="background-position:0px -2311px"></span><span>Afghanistan</span><span>+93</span></a></li>
                        <li><a cunt_code="+355" href="javascript:void(0);"><span style="background-position:0px -1034px"></span><span>Albania</span><span>+355</span></a></li>
                        <li><a cunt_code="+213" href="javascript:void(0);"><span style="background-position:0px -528px"></span><span>Algeria</span><span>+213</span></a></li>
                        <li><a cunt_code="+1684" href="javascript:void(0);"><span style="background-position:0px -1562px"></span><span>American Samoa</span><span>+1684</span></a></li>
                        <li><a cunt_code="+376" href="javascript:void(0);"><span style="background-position:0px -594px"></span><span>Andorra</span><span>+376</span></a></li>
                        <li><a cunt_code="+244" href="javascript:void(0);"><span style="background-position:0px -1947px"></span><span>Angola</span><span>+244</span></a></li>
                        <li><a cunt_code="+1264" href="javascript:void(0);"><span style="background-position:0px -1980px"></span><span>Anguilla</span><span>+1264</span></a></li>
                        <li><a cunt_code="+1268" href="javascript:void(0);"><span style="background-position:0px -869px"></span><span>Antigua and Barbuda</span><span>+1268</span></a></li>
                        <li><a cunt_code="+54" href="javascript:void(0);"><span style="background-position:0px -2377px"></span><span>Argentina</span><span>+54</span></a></li>
                        <li><a cunt_code="+374" href="javascript:void(0);"><span style="background-position:0px -176px"></span><span>Armenia</span><span>+374</span></a></li>
                        <li><a cunt_code="+297" href="javascript:void(0);"><span style="background-position:0px -792px"></span><span>Aruba</span><span>+297</span></a></li>
                        <li><a cunt_code="+247" href="javascript:void(0);"><span style="background-position:0px -55px"></span><span>Ascension Island</span><span>+247</span></a></li>
                        <li><a cunt_code="+61" href="javascript:void(0);"><span style="background-position:0px -1716px"></span><span>Australia</span><span>+61</span></a></li>
                        <li><a cunt_code="+43" href="javascript:void(0);"><span style="background-position:0px -1331px"></span><span>Austria</span><span>+43</span></a></li>
                        <li><a cunt_code="+994" href="javascript:void(0);"><span style="background-position:0px -1243px"></span><span>Azerbaijan</span><span>+994</span></a></li>
                        <li><a cunt_code="+1242" href="javascript:void(0);"><span style="background-position:0px -363px"></span><span>Bahamas</span><span>+1242</span></a></li>
                        <li><a cunt_code="+973" href="javascript:void(0);"><span style="background-position:0px -1496px"></span><span>Bahrain</span><span>+973</span></a></li>
                        <li><a cunt_code="+880" href="javascript:void(0);"><span style="background-position:0px -1771px"></span><span>Bangladesh</span><span>+880</span></a></li>
                        <li><a cunt_code="+1246" href="javascript:void(0);"><span style="background-position:0px -1573px"></span><span>Barbados</span><span>+1246</span></a></li>
                        <li><a cunt_code="+375" href="javascript:void(0);"><span style="background-position:0px -1100px"></span><span>Belarus</span><span>+375</span></a></li>
                        <li><a cunt_code="+32" href="javascript:void(0);"><span style="background-position:0px 0px"></span><span>Belgium</span><span>+32</span></a></li>
                        <li><a cunt_code="+501" href="javascript:void(0);"><span style="background-position:0px -484px"></span><span>Belize</span><span>+501</span></a></li>
                        <li><a cunt_code="+229" href="javascript:void(0);"><span style="background-position:0px -1298px"></span><span>Benin</span><span>+229</span></a></li>
                        <li><a cunt_code="+1441" href="javascript:void(0);"><span style="background-position:0px -1914px"></span><span>Bermuda</span><span>+1441</span></a></li>
                        <li><a cunt_code="+975" href="javascript:void(0);"><span style="background-position:0px -1848px"></span><span>Bhutan</span><span>+975</span></a></li>
                        <li><a cunt_code="+591" href="javascript:void(0);"><span style="background-position:0px -1650px"></span><span>Bolivia</span><span>+591</span></a></li>
                        <li><a cunt_code="+599" href="javascript:void(0);"><span style="background-position:0px -2719px"></span><span>Bonaire, Sint Eustatius</span><span>+599</span></a></li>
                        <li><a cunt_code="+387" href="javascript:void(0);"><span style="background-position:0px -1584px"></span><span>Bosnia and Herzegovina</span><span>+387</span></a></li>
                        <li><a cunt_code="+267" href="javascript:void(0);"><span style="background-position:0px -2707px"></span><span>Botswana</span><span>+267</span></a></li>
                        <li><a cunt_code="+55" href="javascript:void(0);"><span style="background-position:0px -770px"></span><span>Brazil</span><span>+55</span></a></li>
                        <li><a cunt_code="+673" href="javascript:void(0);"><span style="background-position:0px -1683px"></span><span>Brunei</span><span>+673</span></a></li>
                        <li><a cunt_code="+359" href="javascript:void(0);"><span style="background-position:0px -2586px"></span><span>Bulgaria</span><span>+359</span></a></li>
                        <li><a cunt_code="+226" href="javascript:void(0);"><span style="background-position:0px -726px"></span><span>Burkina Faso</span><span>+226</span></a></li>
                        <li><a cunt_code="+257" href="javascript:void(0);"><span style="background-position:0px -1892px"></span><span>Burundi</span><span>+257</span></a></li>
                        <li><a cunt_code="+855" href="javascript:void(0);"><span style="background-position:0px -242px"></span><span>Cambodia</span><span>+855</span></a></li>
                        <li><a cunt_code="+237" href="javascript:void(0);"><span style="background-position:0px -2057px"></span><span>Cameroon</span><span>+237</span></a></li>
                        <li><a cunt_code="+1" href="javascript:void(0);"><span style="background-position:0px -1375px"></span><span>Canada</span><span>+1</span></a></li>
                        <li><a cunt_code="+238" href="javascript:void(0);"><span style="background-position:0px -2652px"></span><span>Cape Verde</span><span>+238</span></a></li>
                        <li><a cunt_code="+1345" href="javascript:void(0);"><span style="background-position:0px -308px"></span><span>Cayman Islands</span><span>+1345</span></a></li>
                        <li><a cunt_code="+236" href="javascript:void(0);"><span style="background-position:0px -1837px"></span><span>Central African Republic</span><span>+236</span></a></li>
                        <li><a cunt_code="+235" href="javascript:void(0);"><span style="background-position:0px -814px"></span><span>Chad</span><span>+235</span></a></li>
                        <li><a cunt_code="+56" href="javascript:void(0);"><span style="background-position:0px -1342px"></span><span>Chile</span><span>+56</span></a></li>
                        <li><a cunt_code="+86" href="javascript:void(0);"><span style="background-position:0px -825px"></span><span>China</span><span>+86</span></a></li>
                        <li><a cunt_code="+57" href="javascript:void(0);"><span style="background-position:0px -330px"></span><span>Colombia</span><span>+57</span></a></li>
                        <li><a cunt_code="+269" href="javascript:void(0);"><span style="background-position:0px -1430px"></span><span>Comoros and Mayotte</span><span>+269</span></a></li>
                        <li><a cunt_code="+242" href="javascript:void(0);"><span style="background-position:0px -1793px"></span><span>Congo</span><span>+242</span></a></li>
                        <li><a cunt_code="+243" href="javascript:void(0);"><span style="background-position:0px -1518px"></span><span>Congo Dem Rep</span><span>+243</span></a></li>
                        <li><a cunt_code="+682" href="javascript:void(0);"><span style="background-position:0px -2267px"></span><span>Cook Islands</span><span>+682</span></a></li>
                        <li><a cunt_code="+506" href="javascript:void(0);"><span style="background-position:0px -2090px"></span><span>Costa Rica</span><span>+506</span></a></li>
                        <li><a cunt_code="+225" href="javascript:void(0);"><span style="background-position:0px -1661px"></span><span>Cote d'Ivoire</span><span>+225</span></a></li>
                        <li><a cunt_code="+385" href="javascript:void(0);"><span style="background-position:0px -902px"></span><span>Croatia</span><span>+385</span></a></li>
                        <li><a cunt_code="+53" href="javascript:void(0);"><span style="background-position:0px -748px"></span><span>Cuba</span><span>+53</span></a></li>
                        <li><a cunt_code="+599" href="javascript:void(0);"><span style="background-position:0px -2729px"></span><span>Curaçao</span><span>+599</span></a></li>
                        <li><a cunt_code="+357" href="javascript:void(0);"><span style="background-position:0px -561px"></span><span>Cyprus</span><span>+357</span></a></li>
                        <li><a cunt_code="+420" href="javascript:void(0);"><span style="background-position:0px -2256px"></span><span>Czech Republic</span><span>+420</span></a></li>
                        <li><a cunt_code="+45" href="javascript:void(0);"><span style="background-position:0px -1386px"></span><span>Denmark</span><span>+45</span></a></li>
                        <li><a cunt_code="+246" href="javascript:void(0);"><span style="background-position:0px -55px"></span><span>Diego Garcia</span><span>+246</span></a></li>
                        <li><a cunt_code="+253" href="javascript:void(0);"><span style="background-position:0px -2101px"></span><span>Djibouti</span><span>+253</span></a></li>
                        <li><a cunt_code="+1767" href="javascript:void(0);"><span style="background-position:0px -2432px"></span><span>Dominica</span><span>+1767</span></a></li>
                        <li><a cunt_code="+1809" href="javascript:void(0);"><span style="background-position:0px -1529px"></span><span>Dominican Republic</span><span>+1809</span></a></li>
                        <li><a cunt_code="+593" href="javascript:void(0);"><span style="background-position:0px -1188px"></span><span>Ecuador</span><span>+593</span></a></li>
                        <li><a cunt_code="+20" href="javascript:void(0);"><span style="background-position:0px -2201px"></span><span>Egypt</span><span>+20</span></a></li>
                        <li><a cunt_code="+503" href="javascript:void(0);"><span style="background-position:0px -1639px"></span><span>El Salvador</span><span>+503</span></a></li>
                        <li><a cunt_code="+240" href="javascript:void(0);"><span style="background-position:0px -1507px"></span><span>Equatorial Guinea</span><span>+240</span></a></li>
                        <li><a cunt_code="+291" href="javascript:void(0);"><span style="background-position:0px -715px"></span><span>Eritrea</span><span>+291</span></a></li>
                        <li><a cunt_code="+372" href="javascript:void(0);"><span style="background-position:0px -2410px"></span><span>Estonia</span><span>+372</span></a></li>
                        <li><a cunt_code="+251" href="javascript:void(0);"><span style="background-position:0px -2443px"></span><span>Ethiopia</span><span>+251</span></a></li>
                        <li><a cunt_code="+500" href="javascript:void(0);"><span style="background-position:0px -2762px"></span><span>Falkland Islands</span><span>+500</span></a></li>
                        <li><a cunt_code="+298" href="javascript:void(0);"><span style="background-position:0px -1111px"></span><span>Faroe Islands</span><span>+298</span></a></li>
                        <li><a cunt_code="+679" href="javascript:void(0);"><span style="background-position:0px -1859px"></span><span>Fiji</span><span>+679</span></a></li>
                        <li><a cunt_code="+358" href="javascript:void(0);"><span style="background-position:0px -1903px"></span><span>Finland</span><span>+358</span></a></li>
                        <li><a cunt_code="+33" href="javascript:void(0);"><span style="background-position:0px -1012px"></span><span>France</span><span>+33</span></a></li>
                        <li><a cunt_code="+594" href="javascript:void(0);"><span style="background-position:0px -2234px"></span><span>French Guiana</span><span>+594</span></a></li>
                        <li><a cunt_code="+689" href="javascript:void(0);"><span style="background-position:0px -1705px"></span><span>French Polynesia</span><span>+689</span></a></li>
                        <li><a cunt_code="+241" href="javascript:void(0);"><span style="background-position:0px -880px"></span><span>Gabon</span><span>+241</span></a></li>
                        <li><a cunt_code="+220" href="javascript:void(0);"><span style="background-position:0px -627px"></span><span>Gambia</span><span>+220</span></a></li>
                        <li><a cunt_code="+995" href="javascript:void(0);"><span style="background-position:0px -858px"></span><span>Georgia</span><span>+995</span></a></li>
                        <li><a cunt_code="+49" href="javascript:void(0);"><span style="background-position:0px -2509px"></span><span>Germany</span><span>+49</span></a></li>
                        <li><a cunt_code="+233" href="javascript:void(0);"><span style="background-position:0px -2112px"></span><span>Ghana</span><span>+233</span></a></li>
                        <li><a cunt_code="+350" href="javascript:void(0);"><span style="background-position:0px -275px"></span><span>Gibraltar</span><span>+350</span></a></li>
                        <li><a cunt_code="+30" href="javascript:void(0);"><span style="background-position:0px -165px"></span><span>Greece</span><span>+30</span></a></li>
                        <li><a cunt_code="+299" href="javascript:void(0);"><span style="background-position:0px -1760px"></span><span>Greenland</span><span>+299</span></a></li>
                        <li><a cunt_code="+1473" href="javascript:void(0);"><span style="background-position:0px -2399px"></span><span>Grenada</span><span>+1473</span></a></li>
                        <li><a cunt_code="+590" href="javascript:void(0);"><span style="background-position:0px -407px"></span><span>Guadeloupe</span><span>+590</span></a></li>
                        <li><a cunt_code="+1671" href="javascript:void(0);"><span style="background-position:0px -2366px"></span><span>Guam</span><span>+1671</span></a></li>
                        <li><a cunt_code="+502" href="javascript:void(0);"><span style="background-position:0px -935px"></span><span>Guatemala</span><span>+502</span></a></li>
                        <li><a cunt_code="+224" href="javascript:void(0);"><span style="background-position:0px -2575px"></span><span>Guinea</span><span>+224</span></a></li>
                        <li><a cunt_code="+245" href="javascript:void(0);"><span style="background-position:0px -1925px"></span><span>Guinea Bissau</span><span>+245</span></a></li>
                        <li><a cunt_code="+592" href="javascript:void(0);"><span style="background-position:0px -803px"></span><span>Guyana</span><span>+592</span></a></li>
                        <li><a cunt_code="+509" href="javascript:void(0);"><span style="background-position:0px -319px"></span><span>Haiti</span><span>+509</span></a></li>
                        <li><a cunt_code="+504" href="javascript:void(0);"><span style="background-position:0px -2156px"></span><span>Honduras</span><span>+504</span></a></li>
                        <li><a cunt_code="+852" href="javascript:void(0);"><span style="background-position:0px -2696px"></span><span>Hong Kong</span><span>+852</span></a></li>
                        <li><a cunt_code="+36" href="javascript:void(0);"><span style="background-position:0px -682px"></span><span>Hungary</span><span>+36</span></a></li>
                        <li><a cunt_code="+354" href="javascript:void(0);"><span style="background-position:0px -1991px"></span><span>Iceland</span><span>+354</span></a></li>
                        <li><a cunt_code="+91" href="javascript:void(0);"><span style="background-position:0px -1694px"></span><span>India</span><span>+91</span></a></li>
                        <li><a cunt_code="+62" href="javascript:void(0);"><span style="background-position:0px -1958px"></span><span>Indonesia</span><span>+62</span></a></li>
                        <li><a cunt_code="+98" href="javascript:void(0);"><span style="background-position:0px -2013px"></span><span>Iran</span><span>+98</span></a></li>
                        <li><a cunt_code="+964" href="javascript:void(0);"><span style="background-position:0px -649px"></span><span>Iraq</span><span>+964</span></a></li>
                        <li><a cunt_code="+353" href="javascript:void(0);"><span style="background-position:0px -1969px"></span><span>Ireland</span><span>+353</span></a></li>
                        <li><a cunt_code="+972" href="javascript:void(0);"><span style="background-position:0px -341px"></span><span>Israel</span><span>+972</span></a></li>
                        <li><a cunt_code="+39" href="javascript:void(0);"><span style="background-position:0px -143px"></span><span>Italy</span><span>+39</span></a></li>
                        <li><a cunt_code="+1876" href="javascript:void(0);"><span style="background-position:0px -1727px"></span><span>Jamaica</span><span>+1876</span></a></li>
                        <li><a cunt_code="+81" href="javascript:void(0);"><span style="background-position:0px -429px"></span><span>Japan</span><span>+81</span></a></li>
                        <li><a cunt_code="+962" href="javascript:void(0);"><span style="background-position:0px -1463px"></span><span>Jordan</span><span>+962</span></a></li>
                        <li><a cunt_code="+7" href="javascript:void(0);"><span style="background-position:0px -1210px"></span><span>Kazakhstan</span><span>+7</span></a></li>
                        <li><a cunt_code="+254" href="javascript:void(0);"><span style="background-position:0px -2630px"></span><span>Kenya</span><span>+254</span></a></li>
                        <li><a cunt_code="+686" href="javascript:void(0);"><span style="background-position:0px -374px"></span><span>Kiribati</span><span>+686</span></a></li>
                        <li><a cunt_code="+850" href="javascript:void(0);"><span style="background-position:0px -1804px"></span><span>Korea, North</span><span>+850</span></a></li>
                        <li><a cunt_code="+82" href="javascript:void(0);"><span style="background-position:0px -2245px"></span><span>Korea, South</span><span>+82</span></a></li>
                        <li><a cunt_code="+965" href="javascript:void(0);"><span style="background-position:0px -2487px"></span><span>Kuwait</span><span>+965</span></a></li>
                        <li><a cunt_code="+996" href="javascript:void(0);"><span style="background-position:0px -1617px"></span><span>Kyrgyzstan</span><span>+996</span></a></li>
                        <li><a cunt_code="+856" href="javascript:void(0);"><span style="background-position:0px -451px"></span><span>Laos</span><span>+856</span></a></li>
                        <li><a cunt_code="+371" href="javascript:void(0);"><span style="background-position:0px -1936px"></span><span>Latvia</span><span>+371</span></a></li>
                        <li><a cunt_code="+961" href="javascript:void(0);"><span style="background-position:0px -1254px"></span><span>Lebanon</span><span>+961</span></a></li>
                        <li><a cunt_code="+266" href="javascript:void(0);"><span style="background-position:0px -2190px"></span><span>Lesotho</span><span>+266</span></a></li>
                        <li><a cunt_code="+231" href="javascript:void(0);"><span style="background-position:0px -2068px"></span><span>Liberia</span><span>+231</span></a></li>
                        <li><a cunt_code="+218" href="javascript:void(0);"><span style="background-position:0px -132px"></span><span>Libya</span><span>+218</span></a></li>
                        <li><a cunt_code="+423" href="javascript:void(0);"><span style="background-position:0px -979px"></span><span>Liechtenstein</span><span>+423</span></a></li>
                        <li><a cunt_code="+370" href="javascript:void(0);"><span style="background-position:0px -1122px"></span><span>Lithuania</span><span>+370</span></a></li>
                        <li><a cunt_code="+352" href="javascript:void(0);"><span style="background-position:0px -1474px"></span><span>Luxembourg</span><span>+352</span></a></li>
                        <li><a cunt_code="+853" href="javascript:void(0);"><span style="background-position:0px -2597px"></span><span>Macao</span><span>+853</span></a></li>
                        <li><a cunt_code="+389" href="javascript:void(0);"><span style="background-position:0px -1353px"></span><span>Macedonia</span><span>+389</span></a></li>
                        <li><a cunt_code="+261" href="javascript:void(0);"><span style="background-position:0px -1287px"></span><span>Madagascar</span><span>+261</span></a></li>
                        <li><a cunt_code="+265" href="javascript:void(0);"><span style="background-position:0px -2145px"></span><span>Malawi</span><span>+265</span></a></li>
                        <li><a cunt_code="+60" href="javascript:void(0);"><span style="background-position:0px -1870px"></span><span>Malaysia</span><span>+60</span></a></li>
                        <li><a cunt_code="+960" href="javascript:void(0);"><span style="background-position:0px -616px"></span><span>Maldives</span><span>+960</span></a></li>
                        <li><a cunt_code="+223" href="javascript:void(0);"><span style="background-position:0px -2520px"></span><span>Mali</span><span>+223</span></a></li>
                        <li><a cunt_code="+356" href="javascript:void(0);"><span style="background-position:0px -1551px"></span><span>Malta</span><span>+356</span></a></li>
                        <li><a cunt_code="+692" href="javascript:void(0);"><span style="background-position:0px -1144px"></span><span>Marshall Islands</span><span>+692</span></a></li>
                        <li><a cunt_code="+596" href="javascript:void(0);"><span style="background-position:0px -198px"></span><span>Martinique</span><span>+596</span></a></li>
                        <li><a cunt_code="+222" href="javascript:void(0);"><span style="background-position:0px -253px"></span><span>Mauritania</span><span>+222</span></a></li>
                        <li><a cunt_code="+230" href="javascript:void(0);"><span style="background-position:0px -2179px"></span><span>Mauritius</span><span>+230</span></a></li>
                        <li><a cunt_code="+52" href="javascript:void(0);"><span style="background-position:0px -2024px"></span><span>Mexico</span><span>+52</span></a></li>
                        <li><a cunt_code="+691" href="javascript:void(0);"><span style="background-position:0px -1738px"></span><span>Micronesia</span><span>+691</span></a></li>
                        <li><a cunt_code="+373" href="javascript:void(0);"><span style="background-position:0px -2685px"></span><span>Moldova</span><span>+373</span></a></li>
                        <li><a cunt_code="+377" href="javascript:void(0);"><span style="background-position:0px -913px"></span><span>Monaco</span><span>+377</span></a></li>
                        <li><a cunt_code="+976" href="javascript:void(0);"><span style="background-position:0px -2553px"></span><span>Mongolia</span><span>+976</span></a></li>
                        <li><a cunt_code="+382" href="javascript:void(0);"><span style="background-position:0px -2167px"></span><span>Montenegro</span><span>+382</span></a></li>
                        <li><a cunt_code="+1664" href="javascript:void(0);"><span style="background-position:0px -583px"></span><span>Montserrat</span><span>+1664</span></a></li>
                        <li><a cunt_code="+212" href="javascript:void(0);"><span style="background-position:0px -2333px"></span><span>Morocco</span><span>+212</span></a></li>
                        <li><a cunt_code="+258" href="javascript:void(0);"><span style="background-position:0px -638px"></span><span>Mozambique</span><span>+258</span></a></li>
                        <li><a cunt_code="+95" href="javascript:void(0);"><span style="background-position:0px -11px"></span><span>Myanmar</span><span>+95</span></a></li>
                        <li><a cunt_code="+264" href="javascript:void(0);"><span style="background-position:0px -1881px"></span><span>Namibia</span><span>+264</span></a></li>
                        <li><a cunt_code="+674" href="javascript:void(0);"><span style="background-position:0px -1749px"></span><span>Nauru</span><span>+674</span></a></li>
                        <li><a cunt_code="+977" href="javascript:void(0);"><span style="background-position:0px -110px"></span><span>Nepal</span><span>+977</span></a></li>
                        <li><a cunt_code="+31" href="javascript:void(0);"><span style="background-position:0px -1441px"></span><span>Netherlands</span><span>+31</span></a></li>
                        <li><a cunt_code="+687" href="javascript:void(0);"><span style="background-position:0px -1276px"></span><span>New Caledonia</span><span>+687</span></a></li>
                        <li><a cunt_code="+64" href="javascript:void(0);"><span style="background-position:0px -1540px"></span><span>New Zealand</span><span>+64</span></a></li>
                        <li><a cunt_code="+505" href="javascript:void(0);"><span style="background-position:0px -154px"></span><span>Nicaragua</span><span>+505</span></a></li>
                        <li><a cunt_code="+227" href="javascript:void(0);"><span style="background-position:0px -550px"></span><span>Niger</span><span>+227</span></a></li>
                        <li><a cunt_code="+234" href="javascript:void(0);"><span style="background-position:0px -2476px"></span><span>Nigeria</span><span>+234</span></a></li>
                        <li><a cunt_code="+683" href="javascript:void(0);"><span style="background-position:0px -2079px"></span><span>Niue</span><span>+683</span></a></li>
                        <li><a cunt_code="+6723" href="javascript:void(0);"><span style="background-position:0px -209px"></span><span>Norfolk Island</span><span>+6723</span></a></li>
                        <li><a cunt_code="+1" href="javascript:void(0);"><span style="background-position:0px -704px"></span><span>Northern Mariana Islands</span><span>+1</span></a></li>
                        <li><a cunt_code="+47" href="javascript:void(0);"><span style="background-position:0px -836px"></span><span>Norway</span><span>+47</span></a></li>
                        <li><a cunt_code="+968" href="javascript:void(0);"><span style="background-position:0px -2454px"></span><span>Oman</span><span>+968</span></a></li>
                        <li><a cunt_code="+92" href="javascript:void(0);"><span style="background-position:0px -2035px"></span><span>Pakistan</span><span>+92</span></a></li>
                        <li><a cunt_code="+680" href="javascript:void(0);"><span style="background-position:0px -231px"></span><span>Palau</span><span>+680</span></a></li>
                        <li><a cunt_code="+970" href="javascript:void(0);"><span style="background-position:0px -1199px"></span><span>Palestinian Territories</span><span>+970</span></a></li>
                        <li><a cunt_code="+507" href="javascript:void(0);"><span style="background-position:0px -847px"></span><span>Panama</span><span>+507</span></a></li>
                        <li><a cunt_code="+63" href="javascript:void(0);"><span style="background-position:0px -1485px"></span><span>Papua New Guinea</span><span>+63</span></a></li>
                        <li><a cunt_code="+595" href="javascript:void(0);"><span style="background-position:0px -2344px"></span><span>Paraguay</span><span>+595</span></a></li>
                        <li><a cunt_code="+51" href="javascript:void(0);"><span style="background-position:0px -946px"></span><span>Peru</span><span>+51</span></a></li>
                        <li><a cunt_code="+63" href="javascript:void(0);"><span style="background-position:0px -1815px"></span><span>Philippines</span><span>+63</span></a></li>
                        <li><a cunt_code="+48" href="javascript:void(0);"><span style="background-position:0px -1177px"></span><span>Poland</span><span>+48</span></a></li>
                        <li><a cunt_code="+351" href="javascript:void(0);"><span style="background-position:0px -517px"></span><span>Portugal</span><span>+351</span></a></li>
                        <li><a cunt_code="+1787" href="javascript:void(0);"><span style="background-position:0px -473px"></span><span>Puerto Rico</span><span>+1787</span></a></li>
                        <li><a cunt_code="+974" href="javascript:void(0);"><span style="background-position:0px -462px"></span><span>Qatar</span><span>+974</span></a></li>
                        <li><a cunt_code="+262" href="javascript:void(0);"><span style="background-position:0px -264px"></span><span>Reunion</span><span>+262</span></a></li>
                        <li><a cunt_code="+40" href="javascript:void(0);"><span style="background-position:0px -671px"></span><span>Romania</span><span>+40</span></a></li>
                        <li><a cunt_code="+7" href="javascript:void(0);"><span style="background-position:0px -660px"></span><span>Russia</span><span>+7</span></a></li>
                        <li><a cunt_code="+250" href="javascript:void(0);"><span style="background-position:0px -2674px"></span><span>Rwanda</span><span>+250</span></a></li>
                        <li><a cunt_code="+599" href="javascript:void(0);"><span style="background-position:0px -2719px"></span><span>Saba</span><span>+599</span></a></li>
                        <li><a cunt_code="+590" href="javascript:void(0);"><span style="background-position:0px -1012px"></span><span>Saint Barthélemy</span><span>+590</span></a></li>
                        <li><a cunt_code="+290" href="javascript:void(0);"><span style="background-position:0px -495px"></span><span>Saint Helena</span><span>+290</span></a></li>
                        <li><a cunt_code="+1869" href="javascript:void(0);"><span style="background-position:0px -99px"></span><span>Saint Kitts and Nevis</span><span>+1869</span></a></li>
                        <li><a cunt_code="+1758" href="javascript:void(0);"><span style="background-position:0px -1397px"></span><span>Saint Lucia</span><span>+1758</span></a></li>
                        <li><a cunt_code="+590" href="javascript:void(0);"><span style="background-position:0px -55px"></span><span>Saint Martin</span><span>+590</span></a></li>
                        <li><a cunt_code="+508" href="javascript:void(0);"><span style="background-position:0px -1078px"></span><span>Saint Pierre and Miquelon</span><span>+508</span></a></li>
                        <li><a cunt_code="+1784" href="javascript:void(0);"><span style="background-position:0px -2619px"></span><span>Saint Vincent Grenadines</span><span>+1784</span></a></li>
                        <li><a cunt_code="+685" href="javascript:void(0);"><span style="background-position:0px -2300px"></span><span>Samoa</span><span>+685</span></a></li>
                        <li><a cunt_code="+378" href="javascript:void(0);"><span style="background-position:0px -2123px"></span><span>San Marino</span><span>+378</span></a></li>
                        <li><a cunt_code="+239" href="javascript:void(0);"><span style="background-position:0px -2388px"></span><span>Sao Tome and Principe</span><span>+239</span></a></li>
                        <li><a cunt_code="+966" href="javascript:void(0);"><span style="background-position:0px -33px"></span><span>Saudi Arabia</span><span>+966</span></a></li>
                        <li><a cunt_code="+221" href="javascript:void(0);"><span style="background-position:0px -2134px"></span><span>Senegal</span><span>+221</span></a></li>
                        <li><a cunt_code="+381" href="javascript:void(0);"><span style="background-position:0px -2465px"></span><span>Serbia</span><span>+381</span></a></li>
                        <li><a cunt_code="+248" href="javascript:void(0);"><span style="background-position:0px -1045px"></span><span>Seychelles</span><span>+248</span></a></li>
                        <li><a cunt_code="+232" href="javascript:void(0);"><span style="background-position:0px -737px"></span><span>Sierra Leone</span><span>+232</span></a></li>
                        <li><a cunt_code="+65" href="javascript:void(0);"><span style="background-position:0px -22px"></span><span>Singapore</span><span>+65</span></a></li>
                        <li><a cunt_code="+1721" href="javascript:void(0);"><span style="background-position:0px -2773px"></span><span>Sint Maarten</span><span>+1721</span></a></li>
                        <li><a cunt_code="+421" href="javascript:void(0);"><span style="background-position:0px -2212px"></span><span>Slovakia</span><span>+421</span></a></li>
                        <li><a cunt_code="+386" href="javascript:void(0);"><span style="background-position:0px -1221px"></span><span>Slovenia</span><span>+386</span></a></li>
                        <li><a cunt_code="+677" href="javascript:void(0);"><span style="background-position:0px -1067px"></span><span>Solomon Islands</span><span>+677</span></a></li>
                        <li><a cunt_code="+252" href="javascript:void(0);"><span style="background-position:0px -1364px"></span><span>Somalia</span><span>+252</span></a></li>
                        <li><a cunt_code="+27" href="javascript:void(0);"><span style="background-position:0px -2355px"></span><span>South Africa</span><span>+27</span></a></li>
                        <li><a cunt_code="+211" href="javascript:void(0);"><span style="background-position:0px -2741px"></span><span>South Sudan</span><span>+211</span></a></li>
                        <li><a cunt_code="+34" href="javascript:void(0);"><span style="background-position:0px -1155px"></span><span>Spain</span><span>+34</span></a></li>
                        <li><a cunt_code="+94" href="javascript:void(0);"><span style="background-position:0px -2641px"></span><span>Sri Lanka</span><span>+94</span></a></li>
                        <li><a cunt_code="+249" href="javascript:void(0);"><span style="background-position:0px -352px"></span><span>Sudan</span><span>+249</span></a></li>
                        <li><a cunt_code="+597" href="javascript:void(0);"><span style="background-position:0px -2663px"></span><span>Suriname</span><span>+597</span></a></li>
                        <li><a cunt_code="+268" href="javascript:void(0);"><span style="background-position:0px -2278px"></span><span>Swaziland</span><span>+268</span></a></li>
                        <li><a cunt_code="+46" href="javascript:void(0);"><span style="background-position:0px -385px"></span><span>Sweden</span><span>+46</span></a></li>
                        <li><a cunt_code="+41" href="javascript:void(0);"><span style="background-position:0px -1320px"></span><span>Switzerland</span><span>+41</span></a></li>
                        <li><a cunt_code="+963" href="javascript:void(0);"><span style="background-position:0px -1826px"></span><span>Syria</span><span>+963</span></a></li>
                        <li><a cunt_code="+886" href="javascript:void(0);"><span style="background-position:0px -506px"></span><span>Taiwan</span><span>+886</span></a></li>
                        <li><a cunt_code="+992" href="javascript:void(0);"><span style="background-position:0px -187px"></span><span>Tajikistan</span><span>+992</span></a></li>
                        <li><a cunt_code="+255" href="javascript:void(0);"><span style="background-position:0px -2289px"></span><span>Tanzania</span><span>+255</span></a></li>
                        <li><a cunt_code="+66" href="javascript:void(0);"><span style="background-position:0px -957px"></span><span>Thailand</span><span>+66</span></a></li>
                        <li><a cunt_code="+670" href="javascript:void(0);"><span style="background-position:0px -2784px"></span><span>Timor-Leste</span><span>+670</span></a></li>
                        <li><a cunt_code="+228" href="javascript:void(0);"><span style="background-position:0px -605px"></span><span>Togo</span><span>+228</span></a></li>
                        <li><a cunt_code="+690" href="javascript:void(0);"><span style="background-position:0px -2751px"></span><span>Tokelau</span><span>+690</span></a></li>
                        <li><a cunt_code="+676" href="javascript:void(0);"><span style="background-position:0px -1089px"></span><span>Tonga</span><span>+676</span></a></li>
                        <li><a cunt_code="+1868" href="javascript:void(0);"><span style="background-position:0px -440px"></span><span>Trinidad and Tobago</span><span>+1868</span></a></li>
                        <li><a cunt_code="+216" href="javascript:void(0);"><span style="background-position:0px -539px"></span><span>Tunisia</span><span>+216</span></a></li>
                        <li><a cunt_code="+90" href="javascript:void(0);"><span style="background-position:0px -1606px"></span><span>Turkey</span><span>+90</span></a></li>
                        <li><a cunt_code="+993" href="javascript:void(0);"><span style="background-position:0px -2542px"></span><span>Turkmenistan</span><span>+993</span></a></li>
                        <li><a cunt_code="+1649" href="javascript:void(0);"><span style="background-position:0px -1309px"></span><span>Turks and Caicos</span><span>+1649</span></a></li>
                        <li><a cunt_code="+688" href="javascript:void(0);"><span style="background-position:0px -286px"></span><span>Tuvalu</span><span>+688</span></a></li>
                        <li><a cunt_code="+256" href="javascript:void(0);"><span style="background-position:0px -1166px"></span><span>Uganda</span><span>+256</span></a></li>
                        <li><a cunt_code="+380" href="javascript:void(0);"><span style="background-position:0px -2002px"></span><span>Ukraine</span><span>+380</span></a></li>
                        <li><a cunt_code="+971" href="javascript:void(0);"><span style="background-position:0px -2223px"></span><span>United Arab Emirates</span><span>+971</span></a></li>
                        <li><a cunt_code="+44" href="javascript:void(0);"><span style="background-position:0px -55px"></span><span>United Kingdom</span><span>+44</span></a></li>
                        <li><a cunt_code="+1" href="javascript:void(0);"><span style="background-position:0px -44px"></span><span>United States</span><span>+1</span></a></li>
                        <li><a cunt_code="+598" href="javascript:void(0);"><span style="background-position:0px -2608px"></span><span>Uruguay</span><span>+598</span></a></li>
                        <li><a cunt_code="+998" href="javascript:void(0);"><span style="background-position:0px -1001px"></span><span>Uzbekistan</span><span>+998</span></a></li>
                        <li><a cunt_code="+678" href="javascript:void(0);"><span style="background-position:0px -1265px"></span><span>Vanuatu</span><span>+678</span></a></li>
                        <li><a cunt_code="+379" href="javascript:void(0);"><span style="background-position:0px -2322px"></span><span>Vatican City</span><span>+379</span></a></li>
                        <li><a cunt_code="+58" href="javascript:void(0);"><span style="background-position:0px -1056px"></span><span>Venezuela</span><span>+58</span></a></li>
                        <li><a cunt_code="+84" href="javascript:void(0);"><span style="background-position:0px -968px"></span><span>Vietnam</span><span>+84</span></a></li>
                        <li><a cunt_code="+1284" href="javascript:void(0);"><span style="background-position:0px -1408px"></span><span>Virgin Islands, British</span><span>+1284</span></a></li>
                        <li><a cunt_code="+1340" href="javascript:void(0);"><span style="background-position:0px -1782px"></span><span>Virgin Islands, US</span><span>+1340</span></a></li>
                        <li><a cunt_code="+681" href="javascript:void(0);"><span style="background-position:0px -1012px"></span><span>Wallis and Futuna</span><span>+681</span></a></li>
                        <li><a cunt_code="+967" href="javascript:void(0);"><span style="background-position:0px -1672px"></span><span>Yemen</span><span>+967</span></a></li>
                        <li><a cunt_code="+260" href="javascript:void(0);"><span style="background-position:0px -1595px"></span><span>Zambia</span><span>+260</span></a></li>
                        <li><a cunt_code="+263" href="javascript:void(0);"><span style="background-position:0px -2046px"></span><span>Zimbabwe</span><span>+263</span></a></li>
                      </ul>
                    </dd>
                  </dl>
                  </div>
              <input id="ut-git-phoneNumberInput" name="mPhone" autocomplete="do-not-autofill" type="text" style="background: transparent;" class="form-control flagbottominput" placeholder="" maxlength="19" value="+1" > 
             </div>
           </div>            
          </div>  
        </div><!--./grid-->
        <div class="grid grid--1-col grid--2-col-tablet grid--2-col-desktop">
          <div class="grid__item">
            <div class="form-group">
              <label>What best describes your organization?</label>
               <select id="ut-git-descriptionSelect" name="dOrganization" class="form-control">
              	  <option value>Select Organization</option>
              	  <option value="1">Club</option>
                  <option value="2">Academy - Private</option>
                  <option value="3">Academy - High School</option>
              	  <option value="4">College/University</option>
              	  <option value="5">High School</option>
              	  <option value="6">Federation</option>
                  <option value="7">Other - Park & Rec, HOA, etc.</option>
              </select>
            </div>
          </div>
          <div class="grid__item">
            <div class="form-group">
              <label>Title (Optional)</label>
              <input id="ut-git-titleInput" class="form-control" name="titleOptional" type="text" />
            </div>
          </div>
        </div><!--./grid-->
        <div class="grid grid--1-col grid--2-col-tablet grid--2-col-desktop">
          <div class="grid__item">
            <div class="form-group">
              <label>Country</label>
              <select id="ut-git-countrySelect" name="cCountry" class="form-control">
              <option selected="" value="">Select Country</option>
              <option value="UnitedStates">United States</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Aland Islands">Aland Islands</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="British Virgin Islands">British Virgin Islands</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos (Keeling">Cocos (Keeling)</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Côte d'Ivoire">Côte d'Ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Curaçao">Curaçao</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czechia">Czechia</option>
              <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands (Malvinas">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Federated States of Micronesia">Federated States of Micronesia</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="France, Metropolitan">France, Metropolitan</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Kosovo">Kosovo</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Laos">Laos</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libya">Libya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macao">Macao</option>
              <option value="Macedonia (FYROM">Macedonia (FYROM)</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Moldova">Moldova</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montenegro">Montenegro</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar (Burma">Myanmar (Burma)</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Palestine">Palestine</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Republic of the Congo">Republic of the Congo</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russia</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Helena">Saint Helena</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Martin">Saint Martin</option>
              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
              <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Sint Maarten">Sint Maarten</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
              <option value="South Korea">South Korea</option>
              <option value="South Sudan">South Sudan</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Taiwan">Taiwan</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania">Tanzania</option>
              <option value="Thailand">Thailand</option>
              <option value="The Bahamas">The Bahamas</option>
              <option value="Timor-Leste">Timor-Leste</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="U.S. Virgin Islands">U.S. Virgin Islands</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Vatican City">Vatican City</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Wallis and Futuna">Wallis and Futuna</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>                
            </select>
            </div>
          </div>
          <div class="grid__item">
            <div class="form-group">
              <label>How did you hear about us?</label>
              <select id="ut-git-heardFromSelect" name="hearAboutFrom" class="form-control">
              	<option value></option>
                <option value="1">Sales Rep</option>
              	<option value="2">Player/Parent/Coach</option>
              	<option value="3">Advertisement</option>
              	<option value="4">LinkedIn</option>
              	<option value="5">Facebook</option>
                <option value="6">Instagram</option>
                <option value="7">Twitter</option>
              	<option value="8">Other</option>
              </select>
            </div>
          </div>
        </div><!--./grid-->
        <div class="grid grid--1-col grid--1-col-tablet grid--1-col-desktop hidestate" id="UnitedStates">
          <div class="grid__item">
            <div class="form-group">
              <label>State</label>
               <select id="ut-git-usStateSelect" name="cState" class="form-control">
                  <option value>Select State</option>
                  <option>Alabama</option>
                  <option>Alaska</option>
                  <option>Arizona</option>
                  <option>Arkansas</option>
                  <option>California</option>
                  <option>Colorado</option>
                  <option>Connecticut</option>
                  <option>Delaware</option>
                  <option>District Of Columbia</option>
                  <option>Florida</option>
                  <option>Georgia</option>
                  <option>Hawaii</option>
                  <option>Idaho</option>
                  <option>Illinois</option>
                  <option>Indiana</option>
                  <option>Iowa</option>
                  <option>Kansas</option>
                  <option>Kentucky</option>
                  <option>Louisiana</option>
                  <option>Maine</option>
                  <option>Maryland</option>
                  <option>Massachusetts</option>
                  <option>Michigan</option>
                  <option>Minnesota</option>
                  <option>Mississippi</option>
                  <option>Missouri</option>
                  <option>Montana</option>
                  <option>Nebraska</option>
                  <option>Nevada</option>
                  <option>New Hampshire</option>
                  <option>New Jersey</option>
                  <option>New Mexico</option>
                  <option>New York</option>
                  <option>North Carolina</option>
                  <option>North Dakota</option>
                  <option>Ohio</option>
                  <option>Oklahoma</option>
                  <option>Oregon</option>
                  <option>Pennsylvania</option>
                  <option>Rhode Island</option>
                  <option>South Carolina</option>
                  <option>South Dakota</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Utah</option>
                  <option>Vermont</option>
                  <option>Virginia</option>
                  <option>Washington</option>
                  <option>West Virginia</option>
                  <option>Wisconsin</option>
                  <option>Wyoming</option>
                </select>
            </div>
          </div>
         </div>   
        <div class="grid grid--1-col grid--1-col-tablet grid--1-col-desktop">
          <div class="grid__item">
            <div class="form-group">
              <label>Organization Name</label>
              <input id="ut-git-orgInput" class="form-control" name="orgName" type="text" />
            </div>
          </div>
          {% comment %}
          {% if section.settings.text_checkbox != blank %}
          <div class="checkbox-touch">
            <input type="checkbox" id="showDivCheckbox" style="width: {{ section.settings.size_checkbox }}px; height: {{ section.settings.size_checkbox }}px">
            <label class="label-touch" for="vehicle3" style="font-size: {{ section.settings.font_size_checkbox }}px;">{{ section.settings.text_checkbox }}</label>
          </div>
          {% endif %}
          {% endcomment %}
          <div class="d-flex justify-content-center align-items-center mt-2 pb-lg-2 pb-sm-2 w-100">
            <button id="ut-git-submitBtn" class="btn-black-sm btn-outline-black justify-content-center pointer text-center min-w-lg-225 btn-xs-1 min-w-sm-160 font-lg-16 font-sm-14 text-uppercase">submit</button>
          </div>
         </div><!--./grid--> 
      </form>
    </div>
  </div>
</div>   
<!-- Your popup elements (initially hidden) -->
<div id="overlay"></div>

<div id="mailuspopup" class="white-popup mfp-hide mfp-with-anim p-3">
    <p class="findtext lh-sm-15 fw-bold font-sm-14 pt-lg-0 pt-sm-2 pb-sm-2">For potential partner inquiries, please email <a href="mailto:get-in-touch@utrsports.com">get-in-touch@utrsports.com</a></p>
</div>
<script>
  $(document).ready(function(){
    // $('#ut-git-submitBtn').hide();
    // $('#showDivCheckbox').change(function(){
    //   if($(this).is(':checked')) {
    //       $('#ut-git-submitBtn').show();
    //   } else {
    //       $('#ut-git-submitBtn').hide();
    //   }
    // });
    
    $('#ut-git-countrySelect').change(function () {
      var select=$(this).find(':selected').val();        
       $(".hidestate").hide();
       $('#' + select).show();
      }).change();
    
  });
</script>
{% schema %}
  {
    "name": "Get In Touch Form",
    "presets": [
      {
        "name": "Get In Touch Form",
        "category": "Get In Touch Form"
      }
    ],
    "settings": [
       {
			"type":"text",
			"id":"heading",
			"label": "Heading Title"
		},
             {
    "type": "select",
    "id": "heading-size",
    "label": "Heading Size",
    "options": [
      {
        "value": "h1",
        "label": "Large"
      },
      {
        "value": "h2",
        "label": "Medium"
      },
      {
        "value": "h3",
        "label": "Small"
      }
    ],
    "default": "h2"
  },
        {
            "type": "radio",
            "id": "heading-permission",
            "label": "Do You Want Underline Below Heading?",
          "default": "NO",
            "options": [
        {
            "value": "NO",
            "label": "NO"
        },
        {
            "value": "YES",
            "label": "YES"
        }
            ]
        },
       {
			"type":"text",
			"id":"description",
			"label": "Description"
		},
       {
 			"type": "image_picker",
 			"id": "section-image",
 			"label": "Section Image"
 	   },
      {
        "type": "text",
        "id": "text_checkbox",
        "label": "Text Checkbox"
      },
      {
        "type": "range",
        "id": "font_size_checkbox",
        "min": 10,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "size_checkbox",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size Checkbox",
        "default": 25
      }
    ]
  }
{% endschema %}

{% stylesheet %} 
{% endstylesheet %}

{% javascript %}

  let typeInputE = document.getElementById('ut-git-typeSelect');
  let sportsTypeInputE = document.getElementById('ut-git-sportsTypeSelect');
  let firstNInputE = document.getElementById('ut-git-fnInput');
  let lastNInputE = document.getElementById('ut-git-lnInput');
  let emailInputE = document.getElementById('ut-git-emailInput');
  let phoneNInputE = document.getElementById('ut-git-phoneNumberInput');
  let descriptionSelectE = document.getElementById('ut-git-descriptionSelect');
  let titleInputE = document.getElementById('ut-git-titleInput');
  let countrySelectE = document.getElementById('ut-git-countrySelect');
  let stateSelectE = document.getElementById('ut-git-usStateSelect');
  let heardFromSelectE = document.getElementById('ut-git-heardFromSelect');
  let orgNInputE = document.getElementById('ut-git-orgInput');
  let submitButtonE = document.getElementById('ut-git-submitBtn');
  let countryDropDown = document.querySelectorAll('#country-select ul li a');
  var gitData = {
  };

  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('ut-git-phoneNumberInput').value = '+1';
});


  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  //OnChange for What Describes you best? 
  $("#ut-git-typeSelect").change(function () {
    var selectedValue = $(this).val(); 
    if (selectedValue == 2){ 
      //Open in full size popup
      //window.open("https://support.universaltennis.com/support/home", "_blank","toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=4000,height=4000");
      //window.location.href = "/"; 

      //Open in same window
      window.location.href = "https://support.universaltennis.com/support/home"; 

          // Reset the dropdown value to 0
    $(this).val("0");

      
    } else if (selectedValue == 3) {
      // let emailTo = 'get-in-touch@universaltennis.com'; 
      // let emailCC = '';
      // let emailSub = 'Inquiry for Potential Partner | Universal Tennis Website';
      // let emailBody = '';
      // window.location.href = "mailto:"+emailTo+'?cc='+emailCC+'&subject='+emailSub+'&body='+emailBody;
      // sleep(1000).then(() => { window.location.href = "/";  });
       // Display the overlay and popup using Magnific Popup
            $.magnificPopup.open({
                items: {
                    src: '#mailuspopup',
                    type: 'inline'
                },
                callbacks: {                    
                    close: function() {
                        // Reset the dropdown value when the popup is closed
                        $(this).val("0");
                    }
                }
                
            });
      $(this).val("0");
    } else {
          $.magnificPopup.close();
    }
  });

  function formatDate(date) {
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    return {
        day: day,
        month: month,
        year: year,
        hours: hours,
        minutes: minutes,
        seconds: seconds
    };
};
  
  //Form Validation
  $("#ut-git-submitBtn").click(function(e) {
    e.preventDefault(); 
    var form = document.forms['get-in-touch-form']; //or this.parentNode
    console.log("FORM = "+form.fName);
    //describeTypeSelect fName lName Email mPhone dOrganization cCountry hearAboutFrom orgName
    if (form.describeTypeSelect.value == "" || form.describeTypeSelect.value == "0" ) {
      alert( "Please select what best describes you best!" );
      form.describeTypeSelect.focus() ;
      return false;
    } else if (form.describeTypeSelect.value == "3") {
      alert( "Please select different option for what best describes you best!" );
      form.describeTypeSelect.focus() ;
      return false;      
    } else if (form.sportsTypeSelect.value == "") {
      alert( "Please select the sports type!" );
      form.sportsTypeSelect.focus() ;
      return false;
    } else if (form.fName.value == "") {
      alert( "First name is required!" );
      form.fName.focus() ;
      return false;
    } else if (form.lName.value == "") {
      alert( "Last name is required!" );
      form.lName.focus() ;
      return false;      
    } else if (form.Email.value == "") {
      alert( "Email is required!" );
      form.Email.focus() ;
      return false;      
    } else if (form.mPhone.value == "" || form.mPhone.value.length < 12) {
      alert( "A valid phone number is required!" );
      form.mPhone.focus() ;
      return false;      
    } else if (form.dOrganization.value == "") {
      alert( "Please select what best describes your organization!" );
      form.dOrganization.focus() ;
      return false;      
    } else if (form.cCountry.value == "") {
      alert( "Country name is required!" );
      form.cCountry.focus() ;
      return false;      
    } else if (form.hearAboutFrom.value == "") {
      alert( "Please enter how did you hear about us!" );
      form.hearAboutFrom.focus() ;
      return false;      
    } else if (form.orgName.value == "") {
      alert( "Organization name is required!" );
      form.orgName.focus() ;
      return false;
    } else if (!validateEmail(form.Email.value)) {
      alert( "Please enter a valid email address!" );
      form.Email.focus() ;
      return false;            
    } else if (form.cCountry.value == "UnitedStates") {
       if (form.cState.value == "") {
         alert( "Please select a state!" );
         form.cState.focus() ;
         return false;
       } else {
         submitContactData();
       }       
    } else {
      submitContactData(); 
    }

  });

  function validateEmail(emailText) {
    var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    if (emailText.match(validRegex)) {
      return true;
    } else {
      return false;
    }
  }

  //Submit Form Data
  function submitContactData(){
    console.log("submitContactData");
    gitData.type = typeInputE.value;
    gitData.sportsType = sportsTypeInputE.value;
    gitData.firstName = firstNInputE.value;
    gitData.lastName = lastNInputE.value;
    gitData.email = emailInputE.value;
    gitData.phone = phoneNInputE.value.replace(/\s/g, "");
    gitData.title = titleInputE.value;
    gitData.country = countrySelectE.value;
    gitData.state = stateSelectE.value;
    gitData.organization = orgNInputE.value;
    gitData.description = descriptionSelectE.value;
    gitData.heardFrom = heardFromSelectE.value;;
    gitData.headerFromOther = "";
    let currentDatetime = new Date();
    let datetimeString = formatDate(currentDatetime);
    console.log(datetimeString);
    gitData.date = datetimeString.day;
    gitData.month = datetimeString.month;
    gitData.year = datetimeString.year;
    // const checkbox = document.getElementById('showDivCheckbox');
    // let isChecked = checkbox.checked;
    // let valueCheckBox = isChecked ? 'Yes' : 'No';
    // gitData.subscriber = valueCheckBox;
    
    //const fetchURL = "https://api.universaltennis.com/v1/support/getintouch";
    const fetchURL = "https://hooks.zapier.com/hooks/catch/16287605/35roesg/"; 
    
    
    console.log('GIT DATA = '+JSON.stringify(gitData));
    //var myHeaders = new Headers();
    //myHeaders.append("Content-Type", "application/json");
    var requestOptions = {
      method: 'POST',
      body: JSON.stringify(gitData)
    };
    
    console.log(requestOptions);
    fetch(fetchURL, requestOptions)
      .then(function(){
        window.location.href = 'https://www.utrsports.net/pages/get-in-touch-thank-you';
        // alert('Thanks you for sharing details! We will get back to you shortly.');
      });
  }
  
  /*---------------Phone number formatter---------------*/
  const isNumericInput = (event) => {
  const key = event.keyCode;
  return (
    (key >= 48 && key <= 57) || // Allow number line
    (key >= 96 && key <= 105) // Allow number pad
  );
};

const isModifierKey = (event) => {
  const key = event.keyCode;
  return (
    (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
    (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
    (key > 36 && key < 41) || // Allow left, up, right, down
    (event.ctrlKey === true || event.metaKey === true) && // Allow Ctrl/Command + A,C,V,X,Z
    (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
  );
};
  
  const enforceFormat = (event) => {
      // Input must be of a valid number format or a modifier key, and not longer than ten digits
      if(!isNumericInput(event) && !isModifierKey(event)){
          event.preventDefault();
      }
  };

const formatToPhone = (event) => {
  const selectedCountryCode = event.target.value.replace(/\D/g, "").substring(0, 3);
  const countryList = document.querySelectorAll("#country-select ul li a");
  let phoneNumber = event.target.value;

  countryList.forEach((country) => {
    if (country.getAttribute("cunt_code") === `+${selectedCountryCode}`) {
      const countryName = country.querySelector("span:nth-child(2)").textContent;
      const countryFlag = country.querySelector("span:first-child").style.backgroundPosition;
      const countryDt = document.querySelector("#country-select dt a");
      countryDt.innerHTML = `<span><span style="background-position:${countryFlag}"></span><span>${countryName}</span><span>+${selectedCountryCode}</span></span>`;

      // Format the phone number
      phoneNumber = formatPhoneNumber(phoneNumber, selectedCountryCode);
      
    }
  });

  if (isModifierKey(event)) {
    return;
  }
  // Set the formatted phone number back to the input value
  event.target.value = phoneNumber;
  console.log("main", phoneNumber.replace(/\s/g, ""));
};

const formatPhoneNumber = (phoneNumber, countryCode) => {
  let formattedPhoneNumber = phoneNumber.replace(/\D/g, "");
  if (countryCode.length === 1) {
    formattedPhoneNumber = `+${countryCode.substr(0, 1)} ${formattedPhoneNumber.substr(1, 4)} ${formattedPhoneNumber.substr(4, 7)} ${formattedPhoneNumber.substr(10)}`;
  } else if (countryCode.length === 2) {
    formattedPhoneNumber = `+${countryCode.substr(0, 2)} ${formattedPhoneNumber.substr(3, 7)} ${formattedPhoneNumber.substr(8,10)}`;
    console.log(formattedPhoneNumber)
  } else if (countryCode.length >= 3 ) {
    formattedPhoneNumber = `+${countryCode.substr(0, 3)} ${formattedPhoneNumber.substr(3, 10)}`;
  }
  return formattedPhoneNumber;
};

const countryList = document.querySelectorAll("#country-select ul li a");
countryList.forEach(function (liElement) {
  liElement.addEventListener("click", function () {
    var selectedCode = this.getAttribute("cunt_code");
    phoneNInputE.value = selectedCode;
  });
});

phoneNInputE.addEventListener("keydown", enforceFormat);
phoneNInputE.addEventListener("keyup", formatToPhone); 
  
  /*---------------Phone number formatter---------------*/

{% endjavascript %}
<script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}"></script>