<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>


<style>

  nav.header__inline-menu {
    margin-top: 0px !important;
  }
  .custom_enable_sticky_header {
    .header-wrapper {
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__heading {
          margin-bottom: unset !important;
        }
        .header__heading-link {
          margin-bottom: unset !important;
        }
        .search-header-nav {
          .header__icons {
            .custom-search {
              font-size: 14px;
              line-height: 20px;
              font-family: 'Inter-Regular';
              color: white;
              font-weight: bold;
              padding: 5px;
               &::placeholder {
              color: white;
              opacity: 1;
            }
            }
            .searchdropdown {
              width: 200px;
                min-width: unset;
                margin: unset;
              svg {
                position: unset !important;
                margin-right: 10px;
              }
              path{
              fill:white;
              }
            }
            #cart-icon-bubble {
              display: none !important;
            }
          }
        }
        #menu-drawer {
          .header__icons {
            #cart-icon-bubble {
              display: none !important;
            }
          }
        }
      }
    }
    .header__inline-menu {
      .disable-menu-old {
        display: none;
      }
      .list-menu {
        opacity: 0;
      }
      .tmenu_item {
        a[title="SUBSCRIBE"] {
          color: #00C0F7; /* Đổi màu title thành màu xanh */
        
        }
      }
      .tmenu_item_level_0 {
        .tmenu_item_level_1 {
          .tmenu_item_level_2 {
            .tmenu_item_level_3 {
              margin-left: 10px !important;
            }
          }
          .tmenu_item_link {
            .tmenu_item_text:hover {
              text-decoration: unset;
            }
          }
        }
        .tmenu_item_link {
          .tmenu_item_text:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
            text-decoration-thickness: 2px;
            text-decoration-color: #00C0F7;
          }
        }
      }
      .tmenu_item_level_1 > .tmenu_item_link > .tmenu_item_text {
        font-weight: 400 !important;
      }
      .tmenu_item_level_2 > .tmenu_item_link > .tmenu_item_text {
        font-weight: 400 !important;
      }

    }
  }

  @media screen and (max-width: 1199px) {
    .menu-drawer__inner-container {
      .tmenu_item_text {
        color: black !important;
      }
    }
  }
  
  /*
  Custom sticky header
  */
  {% if section.settings.custom_enable_sticky_header %}
    .gradient {

      height: auto;
      .custom_enable_sticky_header {
        position: sticky;
        top: 0;
        z-index: 99999 !important;
      }
      .shopify-section-header-hidden {
        transform: unset !important;
      }
    }
  {% endif %}
  
  .header__menu-item:hover span,
  .menu2 .link--text:hover,
  .navborder .link--text:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: #00C0F7;
}
  header-drawer {
    justify-self: start;
    margin-left: -1.0rem;
  }

  .header__heading-logo {
    max-width: {{ section.settings.logo_width }}px;
  }


  @media screen and (min-width: 1200px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
@media(min-width:1200px){
    .list-menu--inline {
      display: inline-flex;
      flex-wrap: wrap;
    }
   .search-header-nav a.login-black-btn.text-uppercase.text-center.custom-btn.btn-upgrade:hover {
    {% comment %} background: linear-gradient(44.76deg, #00C0F7 31%, #01DFCB 65%) !important; {% endcomment %}
    {% comment %} color: black!important; {% endcomment %}
}
}
    .search-header-nav a.login-black-btn.text-uppercase.text-center.custom-btn.btn-upgrade {
    background: white ;
    color: black;
}
 
    .btn-upgrade, .custom-btn-home{
          text-transform: capitalize;
    }
 
@media(max-width:1199px){
    .list-menu--inline {
      display: flex;
      flex-wrap: wrap;
    }
  .login-black-btn {
    border: 1px solid #ffffff !important;
  }


 
}


   summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 1200px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
 @media screen and (max-width: 1199px) {
   .d-hide{display:none}
 }

.menu1 li:nth-child(1){
      margin-left: 120px;
}  
.header__submenu li:nth-child(1) {
    margin-left: 0;
    padding-left: 0 !important;
}  
.menu1 li:nth-child(5){
  margin-right: 20px;
}
.menu1 li:nth-child(6){
      margin-left: 150px;
}
.menu1 li ul li:nth-child(5){
  margin-right:0px;
}
.menu1 li ul li:nth-child(6){
      margin-left: 0px;
}
.list-menu__item {
    color:var(--color-black);
    text-transform: initial;
    font-family: "Gotham-Medium";
}
.menu2 li:nth-child(1){
  padding-left: 40px;
}
.menu2 li:nth-child(4){
  margin-right:90px;
}
.menu2 li:nth-child(5){
      margin-left: 76px;
}
.menu2 li ul li:nth-child(4){
  margin-right:0px;
}
.menu2 li ul li:nth-child(5){
      margin-left: 0px;
}
.header__submenu li:last-child{
    padding-right: 0px;
}    
.menu2,
.menu1{ align-items: center; width: 100%;}

.header__submenu.list-menu{
  background: var(--color-white);
}
.header__submenu .header__menu-item {
    text-transform: capitalize;
}
.header--top-center summary.list-menu__item {
    padding-right: 0.75rem;
}
@media(min-width:1200px){
ul#HeaderMenu-MenuList-9 {
    right: 0;
}
 .logo1{
  position: relative;
  z-index: 1;
  background: #fff;
  width: 170px;
  margin-bottom: -88px;
}
.logo2{
  position: relative;
  z-index: 1;
  background: #fff;
  width: 170px;
  margin-bottom: -110px;
}
.navborder{border-bottom:1px solid #bfbfbf;margin-bottom: 1rem;}
.searchdropdown{display: flex;}
}
.join-outline-btn,
.login-black-btn{
  font-family: var(--font-gotham-medium);
  color:var(--color-black);
  border-radius:30px;
  text-decoration: none;
  font-size:12px;
}
{% comment %} .custom-btn {
  background: linear-gradient(44.76deg, #00C0F7 31%, #01DFCB 65%) !important
} {% endcomment %}

{% comment %} .custom-btn:hover {
  color: #fff !important;
  background: #000000 !important;
} {% endcomment %}
{% comment %} .custom-btn-home:hover {
  background: linear-gradient(44.76deg, #00C0F7 31%, #01DFCB 65%);
} {% endcomment %}
.custom-signIn-desktop:hover {
  {% comment %} background: linear-gradient(44.76deg, #00C0F7 31%, #01DFCB 65%) !important {% endcomment %}
}
.custom-join-desktop:hover {
  {% comment %} background: linear-gradient(44.76deg, #00C0F7 31%, #01DFCB 65%) !important; {% endcomment %}
  color: #ffffff !important;
}
  
.join-outline-btn{
  background: linear-gradient(44.76deg, #00C0F7 31%, #01DFCB 65%) !important;
  padding: 8px 20px;
  color: #000000 !important;
  font-size: 16px;
  line-height: 22px;
  font-size: 14px;
  line-height: 24px;
  background: #fff !important;
  border-radius: 8px;
  font-family: "Inter-Medium";
  text-transform: unset;
  letter-spacing: -0.2px;
}
.login-black-btn{
  padding: 8px 16px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 1rem;
}
{% comment %} .join-outline-btn:hover, {% endcomment %}
.login-black-btn {background:var(--color-black); color:var(--color-white)}
.searchdropdown{
    border-bottom: 1px solid #cfcfcf;
    min-width: 220px;
    position: relative;
    align-items: center;
    margin-right: 1.5rem;
    font-size:13px;
    font-family:var(--font-gotham-medium)
}
.searchdropdown svg{
   position:absolute;
   right:0;
}
.searchdropdown-bg{
  background: var(--color-black);
  box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 373px;
  /*padding: 1rem 0;*/
  position: absolute;
  top: 54px;
  z-index: 6;
  left: 0px;
  display:none;
  overflow-x: hidden;
}
.searchdropdown-bg.active {display: block;}
.divider-blue{
  height:1px;
  display:block !important;
  width:100%;
  background:var(--color-main-teal);
  margin-top: 1.25rem;
  margin-bottom: 0rem;
}
.searchdropdown-menu{list-style:none; padding:0; margin:0;}
.searchdropdown-menu li{display:block;}
.searchdropdown-menu li a p{
  color:var(--color-white);   
  font-family: var(--font-Gotham);
  margin:0;
  display:block;
}
.searchdropdown-menu li a{
 font-family: var(--font-gotham-medium);
  color:var(--color-white);
  font-size:16px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: block;
  position:relative;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  padding-right: 4rem;
}
.svg-arrow-menu li a svg{top: 14px !important;}
.searchdropdown-menu li a svg{
    position: absolute;
    right: 1.5rem;
    top: 20px;
    /*display:none*/
}
.searchdropdown-menu li a svg path{stroke:var(--color-white);}
.searchdropdown-menu li a:hover svg path{stroke:var(--color-main-teal);}
/*.searchdropdown-menu li a:hover svg{display:block}*/
.searchdropdown-menu li a:hover{background:#262626;}
.search-inner{padding: 1rem 1.5rem;}
.searchinput{
    width: 200px;
    border: 0;
    outline: none;
    box-shadow: none;
    background:transparent;
    padding-top: 0.75rem
}

.globalSearch{text-transform: initial;font-size: 20px; font-family: var(--font-Tungsten); color:var(--color-main-teal);}
.globalSearch a{font-size: 14px;margin-left: 1rem; color:var(--color-main-teal); text-decoration: none;
font-family: var(--font-Gotham); text-transform: lowercase;}
.globalSearch a svg {margin-left: 0.5rem;}

.search-scroll{max-height: calc(300px - 0px);overflow-x: hidden;overflow-y: auto;}
.search-scroll::-webkit-scrollbar {width: 10px;}
.search-scroll::-webkit-scrollbar-track {background:#000;width:8px;}
.search-scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-main-teal);
    border-radius:20px;
    padding:2px;
}
#overlay{
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height:auto;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
.is-hide{
  display:none;
}
@media(min-width:1200px){
.list-menu__item {
    font-size: 12px;
}
.join-outline-btn,
.login-black-btn{
  min-width:100px
}
 .d-xxl-block{display:flex}
 .d-xl-block{display:none}
 .header__submenu.list-menu{
    box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  .header__submenu .header__menu-item {
    padding: 1.2rem 2.4rem;
    font-size: 14px;
  }
  .top-mb-lg-1{padding-bottom:1rem;background: #f3fcff;}
}
@media(max-width:1199px){
 .max-w-sm-logo{max-width:110px}
 .menu-opening .menu-drawer__menu-item:focus svg.icon.icon-arrow{
  transform: rotate(180deg);
 }
  .join-outline-btn{
    padding: 1rem 2.5rem;
    color: #000000 !important;
  }
  .login-black-btn{
    background-color: #ffffff;
    {% comment %} color: #000000 !important; {% endcomment %}
  }
.list-menu__item {
    font-size: 16px;
}
  .header-icon-fixed{
    position: absolute;
    bottom: 0;
}
.menu-drawer{
    padding-top: 20px !important;
    top: 0;
}
.iconsetmobile{
    /* position: absolute;
    z-index: 4;
    top: 0px;
    left: 35px; */
}
.join-outline-btn,
.login-black-btn{
  min-width:38%;
  margin-left:0.5rem;
  margin-right:0.5rem;
}
  .d-xxl-block{display:none}
   .d-xl-block{display:block}
   .logo2 img{height:auto; /*max-width:87px;*/}
  .searchdropdown{display: none;}
  .w-sm-full-100{width:100%}
  .menu2 li:nth-child(5),
  .menu1 li:nth-child(6) {margin-left: 0;}
  .list-menu__item,
  .menu-drawer__close-button,
  .header--top-center summary.list-menu__item {
    color: var(--color-black);
    text-transform: initial;
   }
  .join-outline-btn {
    border: 1px solid #333;
    color: var(--color-main-teal);
  }
  .cart-count-bubble {background: var(--blue-teal-gradient);color:var(--color-black);font-family:var(--font-gotham-bold)}
  .header__icon, .header__icon--cart svg.icon.icon-cart path{fill:var(--color-main-teal)}
  .fst-me-0-75{margin-right:0.75rem !important}
  .header__icon--cart-2 {
    margin-right: 0.2rem;
    margin-left: -0.5rem;
  }
  
}
.pt-25{padding-top:1.25rem}
@media(min-width:1250px){
  .searchdropdown{min-width: 290px;}
  .searchinput {width: 180px;}
}

.transparent_header {
    border: 0px;
    margin-bottom: -94px;
}
header.header {
  max-width: 176rem;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.section-header:not(.shopify-section-header-sticky) .transparent_header{
    background: transparent;
}
{% comment %} .section-header .transparent_header:hover {
    background: #fff;
} {% endcomment %}
.transparent_header .logo1, .transparent_header .logo2 {
    background: transparent;
}

.transparent_header .tmenu_app .tmenu_nav .tmenu_item--root > .tmenu_item_link {
    color: #fff !important;
    font-size: 14px !important;
    font-family: "Inter-SemiBold" !important;
}
.tmenu_item .tmenu_item_link{
  font-family: "Inter-Medium" !important;
}
.shopify-section-header-sticky .transparent_header  .tmenu_app .tmenu_nav .tmenu_item--root > .tmenu_item_link
{% comment %} ,
.section-header .transparent_header:hover .tmenu_app .tmenu_nav .tmenu_item--root > .tmenu_item_link  {% endcomment %}
{
    color: #000 !important;
}
    #ut-login-status a {
        border: 1px solid white;
    }
sticky-header:not(.transparent_header) .join-outline-btn,
sticky-header:not(.transparent_header) .login-black-btn,
.shopify-section-header-sticky .transparent_header .join-outline-btn,
.shopify-section-header-sticky .transparent_header .login-black-btn{  
    color: #000;
    border: 1px solid #000 !important;
   
}

sticky-header:not(.transparent_header) .header__heading-link.logo2 img.logo-desktop-first,
.shopify-section-header-sticky .transparent_header .header__heading-link.logo2 img.logo-desktop-first
{% comment %} ,
.section-header .transparent_header:hover .header__heading-link.logo2 img.logo-desktop-first {% endcomment %}
{
    display: none;
}
sticky-header:not(.transparent_header) .header__heading-link.logo2 img.logo-desktop-last,
.shopify-section-header-sticky .transparent_header   .header__heading-link.logo2 img.logo-desktop-last
{% comment %} ,
.section-header .transparent_header:hover .header__heading-link.logo2 img.logo-desktop-last  {% endcomment %}
{
    display: block !important;
}  
.shopify-section-header-sticky .transparent_header .icon-hamburger rect,

.shopify-section-header-sticky .transparent_header svg.search-svg path{
    fill: #000;
}
.login-black-btn {
    font-size: 14px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #fff;
    font-family: "Inter-Medium" !important;
    font-weight: 500 !important;
    min-width: auto;
    padding: 8px 20px;
}
svg.icon.icon-hamburger {
    height: 2.4rem !important;
    width: 2.4rem !important;
}

@media(max-width:1199px){
  .shopify-section-header-sticky .transparent_header #ut-login-status .join-outline-btn,
.shopify-section-header-sticky .transparent_header #ut-login-status .login-black-btn
{
  background:black!important;
  color:white!important;
    border: 1px solid #000 !important;
}

  header.header {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
  }
  svg.icon.iconbig.icon-close.sss {
      z-index: 4;
  }
  div#menu-drawer .login-black-btn {
      border-color: #fff !important;
      font-size: 14px;
      line-height: 24px;
      border-radius: 8px!important;
      text-transform: unset;
      letter-spacing: -0.2px;
  }
  sticky-header:not(.transparent_header) svg.icon.icon-hamburger rect {
    fill: #000;
  }
  .header__heading-logo, .shopify-section-header-sticky .transparent_header .header__heading-link.logo2 img.logo-desktop-last, .section-header .transparent_header:hover .header__heading-link.logo2 img.logo-desktop-last,
  .shopify-section-header-sticky .transparent_header .header__heading-link.logo2 img.logo-mobile-first, 
  sticky-header:not(.transparent_header) .header__heading-link.logo2 img.header__heading-logo,
  .search-header-nav a.login-black-btn.text-uppercase.text-center.custom-btn-home, .search-header-nav a.login-black-btn.text-center.custom-signIn-desktop, .header__icons.position-relative .d-flex.justify-content-center {
      display: none !important;
  }
  .logo-mobile-first, .shopify-section-header-sticky .transparent_header .header__heading-link.logo2 img.logo-mobile-last,
  sticky-header:not(.transparent_header) .header__heading-link.logo2 img.logo-mobile-last {
      display: block !important;
      max-width: 50px;
  }  
  .header__heading.logo1.tesst {
      width: auto !important;
      text-align: center;
  
  }
              .search-header-nav {
                width: 100%;
            }
            .header__icons {
    float: right;
}
  header.header.header--top-left {
      justify-content: flex-start !important;
      display: flex !important;
      grid-template-columns: 44px 44px 300px;
  }

  div#ut-login-status {
      display: flex !important;
  }
}
  @media(min-width:1200px){
        .custom-header {
          div#ut-login-status a {
    color: black;
    border-color: black;
}
    .tmenu_item_text {
    color: black!important;
  }
  .header__heading-link.logo2 img.logo-desktop-first{
    display:none!important;
  }
  .header__heading-link.logo2 img.logo-desktop-last{
    display:block!important;
  }
      svg.search-svg path{
        fill:black!important;
      }
  }
  }

</style>
{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{% liquid
  assign transparent_header = section.settings.transparent_header
  assign header_tag = 'div'
  
  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
  
  assign header_tag = 'sticky-header'
  

  assign current_template = template | split: '.' | first
  assign current_handle = ''
  
  if template contains 'page'
    assign current_handle = page.handle
  elsif template contains 'product'
    assign current_handle = product.handle
  elsif template contains 'collection'
    assign current_handle = collection.handle
  elsif template contains 'blog'
    assign current_handle = blog.handle
  elsif template contains 'article'
    assign current_handle = article.handle
  endif
  
  assign transparent_handles = transparent_header | split: ','
  assign is_transparent = false
  
  for handle in transparent_handles
    assign clean_handle = handle | strip
    if clean_handle == current_template or clean_handle == current_handle
      assign is_transparent = true
      break
    endif
  endfor
%}

<{{ header_tag }} class="{% if section.settings.enable_slider_v2_header %} custom-header {% endif %} header-wrapper {% if is_transparent %} transparent_header {% endif %} color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
 <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
           <span class="iconsetmobile">
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
         <div id="menu-drawer" class="gradient menu-drawer motion-reduce" style="height:auto;">
          <div class="text-center">
             <a href="{{ routes.root_url }}"><img class="max-w-sm-logo" src="{{section.settings.mobile-menu-logo | image_url}}"></a> 
          </div>
         <div class="d-flex justify-content-center align-items-center w-sm-full-100 pt-sm-2 pb-sm-2 pt-lg-2 pb-lg-2" id="ut-login-mobile">
     <div class="header__icons position-relative">
       <div class="searchdropdown searchIButton pointer"><input id="myInput" type="text" class="searchinput text-uppercase" placeholder="search" autocomplete="off"/> <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.8976 10.8565L9.63165 8.59723C10.3627 7.66583 10.7594 6.51567 10.758 5.33162C10.758 4.27712 10.4453 3.24631 9.85942 2.36953C9.27357 1.49275 8.44089 0.809385 7.46666 0.405847C6.49244 0.00231009 5.42043 -0.103274 4.3862 0.102448C3.35197 0.308169 2.40196 0.815957 1.65632 1.5616C0.910683 2.30724 0.402896 3.25724 0.197174 4.29147C-0.00854708 5.3257 0.0970367 6.39771 0.500574 7.37194C0.904111 8.34616 1.58748 9.17885 2.46426 9.76469C3.34104 10.3505 4.37185 10.6632 5.42634 10.6632C6.6104 10.6647 7.76056 10.268 8.69196 9.53693L10.9512 11.8029C11.0132 11.8653 11.0869 11.9149 11.1681 11.9487C11.2493 11.9826 11.3364 12 11.4244 12C11.5124 12 11.5995 11.9826 11.6807 11.9487C11.7619 11.9149 11.8356 11.8653 11.8976 11.8029C11.9601 11.7409 12.0096 11.6672 12.0435 11.586C12.0773 11.5048 12.0947 11.4177 12.0947 11.3297C12.0947 11.2417 12.0773 11.1546 12.0435 11.0734C12.0096 10.9922 11.9601 10.9185 11.8976 10.8565ZM1.42763 5.33162C1.42763 4.54075 1.66215 3.76764 2.10154 3.11005C2.54092 2.45247 3.16543 1.93994 3.8961 1.63729C4.62677 1.33464 5.43078 1.25545 6.20645 1.40974C6.98213 1.56403 7.69463 1.94487 8.25386 2.5041C8.81309 3.06333 9.19393 3.77583 9.34822 4.55151C9.50251 5.32718 9.42332 6.13119 9.12067 6.86186C8.81802 7.59253 8.30549 8.21704 7.64791 8.65642C6.99032 9.09581 6.21721 9.33033 5.42634 9.33033C4.36582 9.33033 3.34873 8.90904 2.59883 8.15913C1.84892 7.40923 1.42763 6.39214 1.42763 5.33162Z" fill="black"></path>
          </svg>
      </div>
      {%comment %}
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}
{%endcomment %}
       <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart header__icon--cart-2 link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
    <!-- <a href="https://app.utrsports.net/login" class="login-black-btn text-uppercase " style="order: 2;text-align: center;"><span>Sign In</span></a> 
    <a href="https://app.utrsports.net/join" class="join-outline-btn text-uppercase  ms-lg-0-5 fst-me-0-75" style="order: 1;text-align: center;">Join</a> -->
   {% comment %}
     <a href="https://app.utrsports.net/login" class="login-black-btn text-uppercase text-center">Login</a> 
     <a href="https://app.utrsports.net/join" class="join-outline-btn text-uppercase text-center ms-lg-0-5 fst-me-0-75">Join</a>
   {% endcomment %}
    </div>
      <div style="height: 100vh;overflow: auto; padding-bottom:190px" class="bg_white"> 
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                 <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu has-submenu list-menu bg_white fst-pb-1" role="list">
                   <div class="sm-menutab">For Players</div>
                      {%- for link in linklists.mobile-for-players.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                               
                                <ul class="menu-drawer__menu list-menu mb-2 bg_white" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text font-italic list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu mb-2" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                  <ul class="menu-drawer__menu has-submenu list-menu bg_white fst-pb-1" role="list">
                   <div class="sm-menutab">For Providers</div>
                      {%- for link in linklists.mobile-for-providers.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu bg_white">
                                <ul class="menu-drawer__menu list-menu mb-2" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text font-italic list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu mb-2" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
             <ul class="menu-drawer__menu has-submenu list-menu bg_white fst-pb-1" role="list">
                   <div class="sm-menutab">More</div>
                      {%- for link in linklists.mobile-more.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu bg_white">
                                <ul class="menu-drawer__menu list-menu mb-2" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text font-italic list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu mb-2" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}{% if childlink.title == "BLOG" or childlink.title == "SUPPORT" or childlink.title == "INSIGHTS" %}target="_blank"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
             
            
         
                 <div class="header-icon-fixed">
                   <div class="d-flex gap-1 justify-content-center mt-1 mb-1">
                    <a href="https://www.amazon.com/gp/video/storefront/ref=atv_me_pvs_c_hvqwaq_11_smr?contentType=tournament&contentId=amzn1.dv.icid.a7897353-fd02-4669-b996-4866f0c19710" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/prime-video-sm.png?v=1680160063" width="36" height="36" /></a>
                    <a href="https://apps.apple.com/us/app/universal-tennis/id1519232627" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/apple-black-icon.png?v=1681290693" /></a>
                    <a href="https://play.google.com/store/apps/details?id=com.ut.utr&utm_source=google-play&utm_campaign=web-footer-google-playstore-badge&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/google-sm.png?v=1680160063" /></a>
                  </div>
              </div>
                </nav>
                {% comment %}
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list" style="display:none">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
                {% endcomment %}
              </div>
            </div>
          </div>
          </div>   
        </details>
      </header-drawer>
    {%- endif -%}



    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <div class="header__heading logo1 tesst" style="width: {{ section.settings.size_logo }}px;">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset logo2">
            {%- if section.settings.logo != blank -%}
              {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
              {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                class: 'header__heading-logo logo-desktop-first',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.size_logo,
                alt: logo_alt
              }}
              {%- if section.settings.logo_sticky != blank -%}
                {%- assign logo_alt = section.settings.logo_sticky.alt | default: shop.name | escape -%}
                {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
                {{ section.settings.logo_sticky | image_url: width: section.settings.width | image_tag:
                  class: 'header__heading-logo logo-desktop-last hidden',
                  widths: '50, 100, 150, 200, 250, 300, 400, 500',
                  height: logo_height,
                  width: section.settings.size_logo,
                  alt: logo_alt
                }}
              {% endif %}

              {%- if section.settings.logo_mobile != blank -%}
                {%- assign logo_alt = section.settings.logo_mobile.alt | default: shop.name | escape -%}
                {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
                {{ section.settings.logo_mobile | image_url: width: section.settings.width | image_tag:
                  class: 'header__heading-logo logo-mobile-first hidden',
                  widths: '50, 100, 150, 200, 250, 300, 400, 500',
                  height: logo_height,
                  width: section.settings.size_logo,
                  alt: logo_alt
                }}
              {% endif %}

              {%- if section.settings.logo_sticky_mobile != blank -%}
                {%- assign logo_alt = section.settings.logo_sticky_mobile.alt | default: shop.name | escape -%}
                {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
                {{ section.settings.logo_sticky_mobile | image_url: width: section.settings.width | image_tag:
                  class: 'header__heading-logo logo-mobile-last hidden',
                  widths: '50, 100, 150, 200, 250, 300, 400, 500',
                  height: logo_height,
                  width: section.settings.size_logo,
                  alt: logo_alt
                }}
              {% endif %}

            
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </div>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      {%- if section.settings.menu_type_desktop == 'dropdown' -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline menu1 navborder disable-menu-old" role="list">
            {%- for link in linklists.header-upper-menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
         <ul class="list-menu list-menu--inline menu2 disable-menu-old" role="list">
            {%- for link in linklists.header-lower-menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} {% if childlink.title == "Blogs" or childlink.title == "Support" or childlink.title == "Insights" %}target="_blank"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>

        <div class="search-header-nav">
          {% render 'search-header' %}
        </div>
      {%- else -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline disable-menu-old" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                        <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
                          {%- for childlink in link.links -%}
                            <li>
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                              {%- if childlink.links != blank -%}
                                <ul class="list-unstyled" role="list">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <div class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset logo2">
            {%- if section.settings.logo != blank -%}
              {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
              {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
              }}
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </div>
      {%- endif -%}
    {%- endif -%}


  </header>
</{{ header_tag }}>



{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}


{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {

      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %} <script>document.addEventListener("startasyncloading",function(){document.querySelectorAll("script[data-src]").forEach(a=>{datasrc=a.dataset.src,null!=datasrc&&(a.src=datasrc), delete a.dataset.src})});</script> <script>document.addEventListener("startasyncloading",function(){document.querySelectorAll("script[type='text/javascripts']").forEach(e=>{var t=document.createElement("script");for(a=0;a<e.attributes.length;a++){var r=e.attributes[a];t.setAttribute(r.name,r.value)}t.type="text/javascript",t.innerHTML=e.innerHTML,e.parentNode.insertBefore(t,e),e.parentNode.removeChild(e)})});</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header custom_enable_sticky_header",
  "settings": [
    { 
     "type": "checkbox",
      "id": "enable_slider_v2_header",
      "label": "Enable Slider v2 Header",
      "default": false
    }, 
    {
      "type": "html",
      "id": "transparent_header",
      "label": "Transparent header",
      "info": "Enter the handle of the page where you want the transparent header to appear, for example: index, about-us."
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "image_picker",
      "id": "logo_sticky",
      "label": "Logo sticky"
    },
    {
      "type": "header",
      "content": "Mobile logo"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "image_picker",
      "id": "logo_sticky_mobile",
      "label": "Logo sticky"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
 		"type": "image_picker",
 		"id": "mobile-menu-logo",
 		"label": "Mobile Menu Logo"
 	 },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "custom_enable_sticky_header",
      "default": true,
      "label": "Custom sticky header",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "range",
      "id": "size_logo",
      "min": 150,
      "max": 250,
      "step": 10,
      "unit": "px",
      "label": "Custom logo width Mobile",
      "default": 250 
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}

 
<script>
  let items = document.querySelector(".header__inline-menu").querySelectorAll("details");
  
  items.forEach(item => {
    item.addEventListener("mouseover", () => {
      item.setAttribute("open", true);
      item.querySelector("ul").addEventListener("mouseleave", () => {
        item.removeAttribute("open");
      });
    item.addEventListener("mouseleave", () => {
      item.removeAttribute("open");
    });
  });

  });
</script>                    
<script>


    
// join and login button hide and show using cookies 

//api call 
// API URL
const apiUrl = 'https://api.utrsports.net/v1/auth/current';

// Get the reference to the div element
var joinLoginBtn = document.getElementById("ut-login-status");
var joinLoginBtnMobile = document.getElementById("ut-login-mobile");
var homeBtnTopHeader = document.getElementById("ut-login-status-home-btn");

// Function to make the GET API call
const fetchData = async () => {
  try {
    const response = await fetch(apiUrl, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        // Add any other headers if needed (e.g., Authorization)
      },
      credentials: 'include', // Include credentials (cookies) in the request
      // You can add additional options here, such as mode
    });

    if (response.ok) {
      const data = await response.json();
      // console.log('API Response:', data.id);

      if (data.id) {
        // User is logged in
        const userId = data.id;
        localStorage.setItem("user_id", userId);
        // Appcues.identify(userId);

        // console.log('LoggedIn User =', userId);
        joinLoginBtn.innerHTML = `<a href="https://app.utrsports.net/" class="login-black-btn text-uppercase text-center custom-btn-home outline-bg-cs"><span>Home</span></a>`;
        joinLoginBtnMobile.innerHTML = `<a href="https://app.utrsports.net/" class="login-black-btn text-uppercase text-center custom-btn-home outline-bg-cs"><span>Home</span></a>`;
        if (data.isPowered === true) {
          joinLoginBtn.innerHTML += `<a href="https://app.utrsports.net/power-perks" id="btn_power_perks" class="login-black-btn text-uppercase text-center custom-btn btn-power white-bg-cs "><span>Power perks</span></a>`;
          joinLoginBtnMobile.innerHTML += `<a href="https://app.utrsports.net/power-perks" class="login-black-btn text-uppercase text-center custom-btn btn-power white-bg-cs "><span>Power perks</span></a>`;
        } else {
          joinLoginBtn.innerHTML += `<a href="https://app.utrsports.net/power-perks" class="login-black-btn text-uppercase text-center custom-btn btn-upgrade white-bg-cs "><span>Upgrade</span></a>`;
          joinLoginBtnMobile.innerHTML += `<a href="https://app.utrsports.net/power-perks" class="login-black-btn text-uppercase text-center custom-btn btn-upgrade white-bg-cs "><span>Upgrade</span></a>`;
        }
      } else {
        // User is anonymous
        // Appcues.anonymous();     

        // console.log('Anonymous User =', data.id, __st);
        joinLoginBtn.innerHTML = `
          <a href="https://app.utrsports.net/login" class="login-black-btn text-uppercase text-center"><span>Login</span></a>
          <a href="https://app.utrsports.net/join" class="join-outline-btn text-uppercase text-center ms-lg-0-5" onclick="return gtag_report_conversion('https://app.utrsports.net/join');"><span>Get started for free</span></a>
        `;
      }
    } else {
      // Handle non-2xx responses
      console.error('API Error:', response.status, response.statusText);
      // User is anonymous
            const appclueTempUserId = localStorage.getItem("user_id");
      if(appclueTempUserId){
       // Appcues.reset();
        console.log("reseted")
        localStorage.removeItem("user_id");
      } 
      // else {
      //   Appcues.anonymous();
      // }
        
        // console.log('Anonymous User =', __st);
      joinLoginBtn.innerHTML = `
        <a href="https://app.utrsports.net/login" class="login-black-btn text-center custom-signIn-desktop"><span>Sign in</span></a>
        <a href="https://app.utrsports.net/join" class="join-outline-btn text-uppercase text-center ms-lg-0-5 custom-join-desktop" onclick="return gtag_report_conversion('https://app.utrsports.net/join');"><span>Get started for free</span></a>
      `;
      joinLoginBtnMobile.innerHTML = `
          <a href="https://app.utrsports.net/login" class="login-black-btn text-uppercase outline-bg-cs " style="order: 1;text-align: center;"><span>Sign in</span></a> 
          <a href="https://app.utrsports.net/join" class="join-outline-btn text-uppercase white-bg-cs ms-lg-0-5 fst-me-0-75" style="order: 1;text-align: center;border: unset;"><span>Get started for free</span></a>
        `;
    }
  } catch (error) {
    // Handle network errors or other exceptions
    console.error('API Request Failed:', error.message);
  }
};

//   if (typeof Appcues !== 'undefined') {
//   // Call the reset() method
//  Appcues.reset();  
// } else {
//   console.error('Appcues is not loaded or available.');
// }

fetchData();

  

  //Search Functionality
  var searchText = "";
  let searchInputElement = document.querySelector('.searchinput-zago');
  var searchresultElement = document.getElementById("searchresult-zago");
  
  // Init a timeout variable to be used below
  let timeout = null;

  $(document).ready(function(){
    //$('.searchdropdown-bg').hide()
    jQuery('.searchIButton').on('click',function(){
      //jQuery('.searchdropdown-bg').toggle();
      searchInputElement.focus();
    });
    
  });

  var $el = $(".searchIButton");
  var $ee = $(".searchdropdown-bg");
  $el.click(function(e){
    e.stopPropagation();
    $(".searchdropdown-bg").addClass('active');
    searchInputElement.focus();
  });

  $(document).on('click',function(e){
    if(($(e.target) != $el) && ($ee.hasClass('active'))){
      $ee.removeClass('active');
      // console.log("yes");
    }

    $("#myInput-zago").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable ul li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

    $(document).ajaxSend(function() {
      $("#overlay").fadeIn(300);　
    });

    $('.searchIButton').click(function(){
      $.ajax({
        type: 'GET',
        success: function(data){
          //console.log(data);
        }
      }).done(function() {
        setTimeout(function(){
          $("#overlay").fadeOut(300);
        },100);
      });
    });
  });
  
  // Add an event listener to monitor changes
  searchInputElement.addEventListener('keyup', function (e) {
    clearTimeout(timeout);
    // Make a new timeout set to go off in 500ms
    timeout = setTimeout(function () {
        searchText = searchInputElement.value;
        if (searchText == "") {
          showPreSearchBox();
        } else {
          showPostSearchBox();
        }
    
        //Fetch search results
        fetchSearchQuery('https://api.utrsports.net/v2/search?query='+searchText+'&top=10&skip=0&schoolClubSearch=true');

    }, 100);
  });

  function fetchSearchQuery(fetchURL) {
    console.log("fetchSearchQuery");

    //Fetch league for everyone data
    var requestOptions = {
      method: 'GET',
      redirect: 'follow'
    };

    let resultData="";

    fetch(fetchURL, requestOptions)
      .then(response => response.json())
      .then((result) => {

        //Players
        let playersData="";
        var playersCount=0;
        var totalPlayersCount = result.players.hits.length;
        console.log("TOTAL Players COUNT = "+totalPlayersCount);

        result.players.hits.filter((item, idx) => idx < 4).map((values, index)=>{

          playersCount+=1;

          var id = values.source.id;
          var dname = values.source.displayName;
          var pGender = values.source.gender;
          var pLocationShort = values.source.descriptionShort;
          var pGenderDisplay = pGender.charAt(0);
          
          if(playersCount==1) {
            playersData +='<div class="search-inner"><div class="globalSearch">Players <a href="https://app.utrsports.net/search?query='+searchText+'&utrMin=1&utrMax=16&utrType=verified&utrTeamType=singles&utrFitPosition=6&type=players">SEE ALL <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></div><div class="divider-blue"></div></div><ul class="searchdropdown-menu ">';
          }

          playersData += '<li><a href="https://app.utrsports.net/profiles/'+id+'">'+dname+'<p>'+pGenderDisplay+' • '+pLocationShort+'</p><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>';

          if (playersCount == 4 || playersCount == totalPlayersCount) {
            console.log(playersCount);
            playersData += '</ul>';
          }

        });
        resultData+=playersData;

        //Events
        let eventsData="";
        var eventsCount=0;
        var totalEventsCount = result.events.hits.length;
        console.log("TOTAL EVENTS COUNT = "+totalEventsCount);

        result.events.hits.filter((item, idx) => idx < 4).map((values, index)=>{

          eventsCount+=1;

          var id = values.source.id;
          var ename = values.source.name;
          var eDateShort = values.source.eventSchedule.eventDatesShort;

          if(eventsCount==1) {
            eventsData +='<div class="search-inner"><div class="divider-blue"></div><div class="globalSearch pt-25">Events <a href="https://app.utrsports.net/search?query='+searchText+'&utrMin=1&utrMax=16&utrType=verified&utrTeamType=singles&utrFitPosition=6&type=events">SEE ALL <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></div><div class="divider-blue"></div></div><ul class="searchdropdown-menu ">';
          }

          eventsData += '<li><a href="https://app.utrsports.net/events/'+id+'">'+ename+'<p>'+eDateShort+'</p><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>';

          if (eventsCount == 4 || eventsCount == totalEventsCount) {
            console.log(eventsCount);
            eventsData += '</ul>';
          }

        });
        resultData+=eventsData;

        //Virtual Events
        let virtualEventsData="";
        var virtualEventsCount=0;
        var totalVirtualEventsCount = result.virtualEvents.hits.length;
        console.log("TOTAL EVENTS COUNT = "+totalVirtualEventsCount);

        result.virtualEvents.hits.filter((item, idx) => idx < 4).map((values, index)=>{

          virtualEventsCount+=1;

          var id = values.source.id;
          var vename = values.source.name;
          var veDateShort = values.source.eventSchedule.eventDatesShort;

          if(virtualEventsCount==1) {
            virtualEventsData +='<div class="search-inner"><div class="divider-blue"></div><div class="globalSearch pt-25">Virtual Events <a href="https://app.utrsports.net/search?query='+searchText+'&utrMin=1&utrMax=16&utrType=verified&utrTeamType=singles&utrFitPosition=6&type=events">SEE ALL <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></div><div class="divider-blue"></div></div><ul class="searchdropdown-menu ">';
          }

          virtualEventsData += '<li><a href="https://app.utrsports.net/events/'+id+'">'+vename+'<p>'+veDateShort+'</p><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>';

          if (virtualEventsCount == 4 || virtualEventsCount == totalVirtualEventsCount) {
            console.log(virtualEventsCount);
            virtualEventsData += '</ul>';
          }

        });
        resultData+=virtualEventsData;

        //Colleges
        let collegesData="";
        var collegesCount=0;
        var totalCollegesCount = result.colleges.hits.length;
        console.log("TOTAL COLLEGE COUNT = "+totalCollegesCount);

        result.colleges.hits.filter((item, idx) => idx < 4).map((values, index)=>{

          collegesCount+=1;

          var id = values.source.id;
          var coname = values.source.name;
          var coLocation = values.source.location.display;

          if(collegesCount==1) {
            collegesData +='<div class="search-inner"><div class="divider-blue"></div><div class="globalSearch pt-25">Colleges <a href="https://app.utrsports.net/search?query='+searchText+'&utrMin=1&utrMax=16&utrType=verified&utrTeamType=singles&utrFitPosition=6&type=colleges">SEE ALL <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></div><div class="divider-blue"></div></div><ul class="searchdropdown-menu ">';
          }

          collegesData += '<li><a href="https://app.utrsports.net/schools/'+id+'">'+coname+'<p>'+coLocation+'</p><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>';

          if (collegesCount == 4 || collegesCount == totalCollegesCount) {
            console.log(collegesCount);
            collegesData += '</ul>';
          }

        });
        resultData+=collegesData;

        //High Schools
        let hschoolsData="";
        var hschoolsCount=0;
        var totalHschoolsCount = result.highSchools.hits.length;
        console.log("TOTAL HIGH SCHOOL COUNT = "+totalHschoolsCount);

        result.highSchools.hits.filter((item, idx) => idx < 4).map((values, index)=>{

          hschoolsCount+=1;

          var id = values.source.id;
          var hsname = values.source.name;
          var hsLocation = values.source.location.display;

          if(hschoolsCount==1) {
            hschoolsData +='<div class="search-inner"><div class="divider-blue"></div><div class="globalSearch pt-25">High Schools <a href="https://app.utrsports.net/search?query='+searchText+'&utrMin=1&utrMax=16&utrType=verified&utrTeamType=singles&utrFitPosition=6&type=highSchools">SEE ALL <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></div><div class="divider-blue"></div></div><ul class="searchdropdown-menu ">';
          }

          hschoolsData += '<li><a href="https://app.utrsports.net/schools/'+id+'">'+hsname+'<p>'+hsLocation+'</p><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>';

          if (hschoolsCount == 4 || hschoolsCount == totalHschoolsCount) {
            console.log(hschoolsCount);
            hschoolsData += '</ul>';
          }

        });
        resultData+=hschoolsData;

        //Clubs
        let clubsData="";
        var clubsCount=0;
        var totalClubsCount = result.clubs.hits.length;
        console.log("TOTAL CLUBS COUNT = "+totalClubsCount);

        result.clubs.hits.filter((item, idx) => idx < 4).map((values, index)=>{

          clubsCount+=1;

          var id = values.source.id;
          var cname = values.source.name;
          var cLocation = values.source.location.display;
          var cMemberCount = values.source.memberCount;
          if (cMemberCount <= 1) {
            cMemberCount = '';
          } else {
            cMemberCount += ' members';
          }

          if(cLocation == "" || cMemberCount == "") {
            //Do not add the dot
          } else {
            //Add the Dot
            cLocation += ' • ';
          }
  
          if(clubsCount==1) {
            clubsData +='<div class="search-inner"><div class="divider-blue"></div><div class="globalSearch pt-25">Clubs <a href="https://app.utrsports.net/search?query='+searchText+'&utrMin=1&utrMax=16&utrType=verified&utrTeamType=singles&utrFitPosition=6&type=clubs">SEE ALL <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></div><div class="divider-blue"></div></div><ul class="searchdropdown-menu ">';
          }

          clubsData += '<li><a href="https://app.utrsports.net/clubs/'+id+'">'+cname+'<p>'+cLocation+cMemberCount+'</p><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="#00C0F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a></li>';

          if (clubsCount == 4 || clubsCount == totalClubsCount) {
            console.log(clubsCount);
            clubsData += '</ul>';
          }

        });
        resultData+=clubsData;

        searchresultElement.innerHTML=resultData;

        if (resultData == "" && searchText != "") {
          searchresultElement.innerHTML = '<p style="color:grey;padding-inline: 10px;">No Matches Found</p>'
        }

      }).catch(error => console.log('error', error));

  }

  function showPostSearchBox (){
    let preSearchBoxElement = document.getElementById('presearch');
    let postSearchBoxElement = document.getElementById('postsearch');

    postSearchBoxElement.style.display = '';
    preSearchBoxElement.style.display = 'none';
  }

  function showPreSearchBox (){
    let preSearchBoxElement = document.getElementById('presearch');
    let postSearchBoxElement = document.getElementById('postsearch');
    searchresultElement.innerHTML = '';
    preSearchBoxElement.style.display = '';
    postSearchBoxElement.style.display = 'none';
  }
      
  //Event snippet for Sign-Up - New Website Conversion conversion page 
  //In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-870475965/2uNZCKO7upcYEL3RiZ8D',
        'event_callback': callback
    });
    return false;
  }



</script>
