
<div class="page-width text-center">
  <div class="mb-1">
                {% case section.settings['heading-size'] %}
      {% when 'h1' %}
        <h1 class="text-uppercase section-title section-title-large lh-sm-90 mb-2 lh-xl-78">
          
          {{ section.settings.heading }}
        </h1>
      {% when 'h2' %}
        <h2 class="text-uppercase section-title section-title-medium lh-sm-90 mb-2 lh-xl-78">
          
          {{ section.settings.heading }}
        </h2>
      {% when 'h3' %}
        <h3 class="text-uppercase section-title section-title-small lh-sm-90 mb-2 lh-xl-78">
          
          {{ section.settings.heading }}
        </h3>
    {% endcase %}
      {%- if section.settings.heading-permission == "YES" -%}
      <div class="divider-sm-teal divider-lg-teal"></div>
    {%- endif -%}
  </div>  
</div>
<div class="ps-2 pe-sm-2 pb-lg-5 pt-lg-5 pt-sm-0 pb-sm-4 video-highlight-img-floating-section-wrapper">
    <div class="grid grid--1-col product-grid grid--1-col-tablet grid--2-col-desktop position-relative">
       <div class="col-lg-9 col-md-100 col-sm-12  mt-3">
         <div class="imageafterborder border-radius-lg-3 border-radius-sm-3 d-flex align-items-center justify-content-end flex-column bg-lg-90" style="background:url('{{section.settings.section-image-first | image_url}}') no-repeat; background-size:cover; width:100%;">
            <div class="d-flex justify-content-center align-items-center mb-3">
              <a href="{{section.settings.section-button-url}}"  class="video-btn popup-youtube text-center text-uppercase gap-2 font-tungsten-medium position-relative"><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/playbtn.svg?v=1671442348" />{{section.settings.section-video-button}}</a> 
            </div>   
           <div class="d-flex justify-content-center align-items-center gap-2 text-center">
             <a href="{{section.settings.section-learn-button-url}}" target="_blank" class="btn-white min-w-lg-225 min-w-sm-130 font-sm-12 text-uppercase mb-3">{{section.settings.section-learn-more-button}}</a> 
             <a href="{{section.settings.section-signup-button-url}}" class="btn-white min-w-lg-225 min-w-sm-130 font-sm-12 text-uppercase mb-3">{{section.settings.section-signup-button}}</a>
           </div>
         </div>
       </div>
         <div class="section-floating-img-wrapper p-sm-1 d-lg-block d-sm-none d-md-none position-absolute end-right" >
            <img class="section-floating-img" src="{{section.settings.section-image | image_url}}" />
        </div>  
    </div>
</div>
<style>
  
      .section-title.section-title-large {
    font-size: 80px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-small {
    font-size: 35px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}
  

  @media screen and (max-width: 749px){
    .section-title.section-title-large {
    font-size: 60px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-small {
    font-size: 26px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-medium {
    font-size: 40px;
}
  }
  
  .section-floating-img-wrapper{ 
    bottom: -38px;
  }
  .section-floating-img-wrapper .section-floating-img {
    width: 35vw;
    max-width: 650px;
  }
  @media screen and (min-width: 1921px) {
  .video-highlight-img-floating-section-wrapper {
    width: 1920px; /* Set the fixed width */
    margin: 0 auto; /* Center the block on the screen, if needed */
  }
}
</style>

{% schema %}
  {
    "name": "Ut Video Banner",
    "presets": [
      {
        "name": "Ut Video Banner",
        "category": "Ut Video Banner"
      }
    ],
    "settings": [
        {
 			"type": "image_picker",
 			"id": "section-image-first",
 			"label": "Section Image First"
 		},
       {
			"type":"text",
			"id":"heading",
			"label": "Heading Title"
		},
             {
    "type": "select",
    "id": "heading-size",
    "label": "Heading Size",
    "options": [
      {
        "value": "h1",
        "label": "Large"
      },
      {
        "value": "h2",
        "label": "Medium"
      },
      {
        "value": "h3",
        "label": "Small"
      }
    ],
    "default": "h2"
  },
       {
            "type": "radio",
            "id": "heading-permission",
            "label": "Do You Want Underline Below Heading?",
          "default": "NO",
            "options": [
        {
            "value": "NO",
            "label": "NO"
        },
        {
            "value": "YES",
            "label": "YES"
        }
            ]
        },
       {
 			"type": "image_picker",
 			"id": "section-image",
 			"label": "Section Image"
 		},
       {
 			"type": "text",
 			"id": "section-video-button",
 			"label": "Video Play Button"
 		},
      {
			"type": "url",
 			"id": "section-button-url",
 			"label": "Button Link"
		},
        {
 			"type": "text",
 			"id": "section-learn-more-button",
 			"label": "Button 1"
 		},
		{
			"type": "url",
 			"id": "section-learn-button-url",
 			"label": "Button Link 1"
		},
       {
 			"type": "text",
 			"id": "section-signup-button",
 			"label": "Button 2"
 		},
		{
			"type": "url",
 			"id": "section-signup-button-url",
 			"label": "Button Link 2"
		}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}"></script>