{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
  @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
    .banner__box>*+* {margin-top: 0rem;}
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      content: '';
      display: block;
    }
  }
    .banner-aspect-ratio-maintain {
    aspect-ratio: 16 /9;
}

@media screen and (max-width: 1199px) {
 .banner-aspect-ratio-maintain {
    aspect-ratio: auto;
}
}

  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="banner-aspect-ratio-maintain banner text-uppercase banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
  {%- if section.settings.image != blank -%}
    <div class="hide-lg-block hide-lg-none aspect-ratio-16-9 banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} {% endif %}">
     
      {%-liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = "banner__media-image-half"
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = "(min-width: 750px) 50vw, 100vw"
        elsif section.settings.image_2 != blank
          assign sizes = "50vw"
        else
          assign sizes = "100vw"
        endif
      -%}
      {{ section.settings.image | image_url: width: 1500 | image_tag:
      
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="hide-sm-none hide-sm-block aspect-ratio-16-9 banner__media media{% if section.settings.image != blank %} {% endif %}">
      {%-liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = "banner__media-image-half"
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = "(min-width: 750px) 50vw, 100vw"
        elsif section.settings.image != blank
          assign sizes = "50vw"
        else
          assign sizes = "100vw"
        endif
      -%}
      {{ section.settings.image_2 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image_2.width,
        height: 'image_height_2, rich-text-background-image',
        class: image_class_2,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image_2.alt | escape
      }}
    </div>
  {%- endif -%}
   <div class="social-icon-top">
      {%- if section.settings.show_social -%}
        <ul class="icon-social icon-social-white"> 
          {%- if settings.social_facebook_link != blank -%}
              <li>
                <a href="{{ settings.social_facebook_link }}" target="_blank" class="">
                  {%- render 'icon-facebook-black' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
           {%- if settings.social_instagram_link != blank -%}
              <li>
                <a href="{{ settings.social_instagram_link }}" target="_blank">
                  {%- render 'icon-instagram-black' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li>
                <a href="{{ settings.social_pinterest_link }}" target="_blank">
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
           
            {%- if settings.social_tiktok_link != blank -%}
              <li>
                <a href="{{ settings.social_tiktok_link }}" target="_blank">
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li>
                <a href="{{ settings.social_tumblr_link }}" target="_blank">
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li>
                <a href="{{ settings.social_snapchat_link }}" target="_blank">
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li>
                <a href="{{ settings.social_youtube_link }}" target="_blank">
                  {%- render 'icon-youtube-black' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
           {%- if settings.social_twitter_link != blank -%}
              <li>
                <a href="{{ settings.social_twitter_link }}" target="_blank" class="link">
                  {%- render 'icon-twitter-black' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li>
                <a href="{{ settings.social_vimeo_link }}" target="_blank">
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
   </div>
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
 
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
           <p class="text-uppercase text-white mb-lg-0 mb-sm-0 mt-0 mb-0 gotham-medium font-sm-10 font-lg-18 mb-nt-1-5">
               {{section.settings.tagline}}
              </p>
                    {% if block.settings.heading_size == 'h0' %}
  <h1 class="banner__heading section-title-lg-65 mt-sm-n1 section-title-sm font-tungsten text-white section-title-sm mt-sm-0 mb-2 text-uppercase" {{ block.shopify_attributes }}>
    <span class="d-block mb-2 lh-sm-40">{{ block.settings.heading | escape }}</span>
  </h1>
{% elsif block.settings.heading_size == 'h1' %}
  <h2 class="banner__heading font-size-medium mt-sm-n1 section-title-sm font-tungsten text-white section-title-sm mt-sm-0 mb-2 text-uppercase" {{ block.shopify_attributes }}>
    <span class="d-block mb-2 lh-sm-40">{{ block.settings.heading | escape }}</span>
  </h2>
{% else %}
  <h3 class="banner__heading font-size-small mt-sm-n1 section-title-sm font-tungsten text-white section-title-sm mt-sm-0 mb-2 text-uppercase" {{ block.shopify_attributes }}>
    <span class="d-block mb-2 lh-sm-40">{{ block.settings.heading | escape }}</span>
  </h3>
{% endif %}
          {%- when 'search' -%}
            {% render 'custom_search' %} 
          {%- when 'text' -%}
            <div class="banner__text mb-lg-1 mb-sm-0 mt-1 font-sm-14 font-md-14 text-white font-lg-18 lh-sm-19 lh-lg-22 mt-nt-lg-1 {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <span style="text-transform: none;">{{ block.settings.text | escape }}</span>
            </div>
          {%- when 'buttons' -%}
            <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.button_label_1 != blank -%}
                <a id="{{ block.settings.id_button_label_1 }}" {% if block.settings.button_link_1 == blank %} role="link" aria-disabled="false"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="btn-white-outline btn-hover-black btn-xs-small min-xs-width min-w-lg-225 d-inline-block min-w-sm-180 font-sm-12 text-uppercase{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--secondary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a id="{{ block.settings.id_button_label_2 }}" {% if block.settings.button_link_2 == blank %} role="link" aria-disabled="false"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="btn-white-outline btn-hover-black btn-xs-small min-xs-width min-w-lg-225 d-inline-block min-w-sm-180 font-sm-12 text-uppercase {% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--secondary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
              {%- endif -%}

            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
 {% if section.settings.show_button_downloadApp == true %} 
    <div class="app-desktop d-sm-none"> 
      <div class="appmainbg" style="background:#fff url('{{section.settings.app-section-background-image | image_url}}') no-repeat top right;">
          <div class="grid grid--1-col product-grid grid--1-col-tablet grid--2-col-desktop">
             <div class="grid__item" style="max-width:60%">
               <p class="text-uppercase text-black font-lg-16 font-sm-14 font-md-14 gotham-bold mb-0">{{ section.settings.custom_sub_heading }}</p>
                <h2 class="text-uppercase text-black section-title-lg mb-0 mt-0 font-tungsten lh-sm-90 mb-2 lh-xl-78">{{ section.settings.custom_heading }}</h2>
                 <div class="d-flex mt-1 gap-1">
                   <a href="{{section.settings.app-button-url}}" target="_blank" class=""><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/app-store-btn.png?v=1681392558" alt="App Store"></a> 
                   <a href="{{section.settings.google-pay-button-url}}" target="_blank" class=""><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/google-pay-btn-w.png?v=1681392558" alt="Google Pay"></a>
                </div>
               <a href="{{section.settings.learn-button-url}}" class="btn-black-sm justify-content-center text-uppercase fst-font-10 mt-5">Learn More</a>
             </div>
            <div class="grid_item">
              <div class="app-mobile-right">
                  <img src="{{section.settings.app-section-image | image_url}}" />
              </div>  
            </div>
          </div>  
       </div>  
      <div class="blue-teal-gradient-bg text-uppercase font-tungsten">
        <a href="#" class="apptext pointer-events-none pointer">
            <img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/app-arrows.svg?v=1670490576" alt="" tittle="" />
            <span class="apptest" data-hover="CLOSE">{{ section.settings.custom_heading_button }}</span>
        </a>
      </div>
    </div>
  {% endif %}
</div>
<style>  
@media only screen and (max-width: 749px) {
  .banner__content::before {
    padding-bottom: unset !important;
  }
}
  .font-size-medium {
    font-size: 52px;
}

.font-size-small {
    font-size: 45px;
}
</style>

<script>
  window.__geoInfoPromise = window.__geoInfoPromise || null;

  window.getGeoInfo = function () {
    if (window.__geoInfoPromise) {
      // console.log("[GeoInfo] Reuse __geoInfoPromise");
      return window.__geoInfoPromise;
    }

    const cached = localStorage.getItem('geoInfo');
    if (cached) {
      try {
        const parsed = JSON.parse(cached);
        if (parsed && parsed.region_code) {
          // console.log("[GeoInfo] Using data from localStorage:", parsed);
          window.__geoInfoPromise = Promise.resolve(parsed);
          return window.__geoInfoPromise;
        } else {
          // console.log("[GeoInfo] Clear cache due to lack region_code");
          localStorage.removeItem('geoInfo');
        }
      } catch (e) {
        // console.log("[GeoInfo] JSON error cache, clear cache");
        localStorage.removeItem('geoInfo');
      }
    }

    const accessKey = "{{ settings.key_ipstack }}";
    // console.log("[GeoInfo] Call API ipstack");

    window.__geoInfoPromise = fetch(`https://api.ipstack.com/check?access_key=${accessKey}`)
            .then(response => response.json())
            .then(data => {
              if (data && data.region_code) {
                localStorage.setItem('geoInfo', JSON.stringify(data));
                // console.log("[GeoInfo] API thành công, lưu vào localStorage:", data);
                return data;
              } else {
                throw new Error("Invalid geoInfo: missing region_code");
              }
            })
            .catch(error => {
              console.error("[GeoInfo] API error:", error);
              localStorage.removeItem('geoInfo');
              window.__geoInfoPromise = null;
              throw error;
            });

    return window.__geoInfoPromise;
  };

  {% assign cleanSectionID = section.id | replace: '-', '' | replace: '_', '' %}
  function section{{ cleanSectionID }}() {
    let countryCode = "{{ section.settings.country_code }}".trim();
    let hideCountry = "{{ section.settings.hide_country_code }}".trim();

    if (!countryCode && !hideCountry) {
      {% comment %}console.log("[Section {{ section.id }}] IGNORE: Both countryCode or hideCountry values ​​are empty.");{% endcomment %}
      return;
    }

    {% comment %}console.log("[Section {{ section.id }}] START processing – Country setting available.");{% endcomment %}

    const countryCodeArray = countryCode.replace(/,/g, '')
            .split(' ')
            .map(code => code.trim().toUpperCase())
            .filter(code => code);

    const hideCountryArray = hideCountry.replace(/,/g, '')
            .split(' ')
            .map(code => code.trim().toUpperCase())
            .filter(code => code);

    window.getGeoInfo().then(locationData => {
      if (!locationData || !locationData.region_code) {
        {% comment %}console.warn("[Section {{ section.id }}] Don't use region_code.");{% endcomment %}
        return;
      }

      const userRegion = locationData.region_code.toUpperCase();
      {% comment %}console.log("[Section {{ section.id }}] User region:", userRegion);{% endcomment %}

      const el = document.getElementById('shopify-section-{{ section.id }}');
      if (!el) return;

      if (countryCodeArray.length && countryCodeArray.includes(userRegion)) {
        el.style.display = 'block';
      } else if (hideCountryArray.length && hideCountryArray.includes(userRegion)) {
        el.style.display = 'none';
      } else {
        el.style.display = countryCodeArray.length > 0 ? 'none' : 'block';
      }
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    section{{ cleanSectionID }}();
  });
</script>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section ipstack_image_banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Screen Image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Mobile Screen Image"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.image-banner.settings.adapt_height_first_image.label",
      "info": "t:sections.image-banner.settings.adapt_height_first_image.info"
    },
    {
			"type":"text",
			"id":"tagline",
			"label": "Tag Line Title"
		},
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "checkbox",
      "id": "show_button_downloadApp",
      "default": false,
      "label": "t:sections.image-banner.settings.show_button_downloadApp.label"
    },
    {
      "type": "text",
      "id": "custom_sub_heading",
      "default": "DOWNLOAD NOW",
      "label": "t:sections.image-banner.settings.custom_sub_heading.label"
    },
    {
      "type": "text",
      "id": "custom_heading",
      "default": "IOS & ANDROID MOBILE APP",
      "label": "t:sections.image-banner.settings.custom_heading.label"
    },
    {
      "type": "text",
      "id": "custom_heading_button",
      "default": "Download the app",
      "label": "t:sections.image-banner.settings.custom_heading_button.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    },
     {
			"type": "url",
 			"id": "app-button-url",
 			"label": "App Store Button Link"
		},
      {
			"type": "url",
 			"id": "google-pay-button-url",
 			"label": "Google Pay Button Link"
		},
    {
			"type": "url",
 			"id": "learn-button-url",
 			"label": "App Learn More Link"
     },
     {
 			"type": "image_picker",
 			"id": "app-section-background-image",
 			"label": "App Section Background Image"
 		},
       {
 			"type": "image_picker",
 			"id": "app-section-image",
 			"label": "App Section Image"
 		},
     {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "text",
      "id": "country_code",
      "label": "Region/State Code",
      "info": "Regions are separated by (,) For example IA, EN, HN,"
    },
    {
      "type": "text",
      "id": "hide_country_code",
      "label": "Hide Region/State Code",
      "info": "Regions are separated by (,) For example IA, EN, HN,"
    }
  ],
  "blocks": [
   {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "search",
      "name": "Custom search",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "placehoder_input",
          "label": "Placeholder Input"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "id_button_label_1",
          "label": "ID Button label 1",
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "id_button_label_2",
          "label": "ID Button label 2",
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}