<div class="page-width text-center mb-4 pt-sm-2">
    <h2 class="text-uppercase section-title section-title-sm mb-0 lh-sm-90 mb-2 lh-xl-78">{{section.settings.heading}}</h2>
      {%- if section.settings.heading-permission == "YES" -%}
      <div class="mb-4"><div class="divider-sm-teal divider-lg-teal"></div></div>
    {%- endif -%}
     {%- if section.settings.show_social -%}
        <ul class="icon-social-black" role="list">
          {%- if settings.social_facebook_link != blank -%}
              <li>
                <a href="{{ settings.social_facebook_link }}" target="_blank" class="">
                  {%- render 'icon-facebook-black' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
           {%- if settings.social_instagram_link != blank -%}
              <li>
                <a href="{{ settings.social_instagram_link }}" target="_blank">
                  {%- render 'icon-instagram-black' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li>
                <a href="{{ settings.social_pinterest_link }}" target="_blank">
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
           
            {%- if settings.social_tiktok_link != blank -%}
              <li>
                <a href="{{ settings.social_tiktok_link }}" target="_blank">
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li>
                <a href="{{ settings.social_tumblr_link }}" target="_blank">
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li>
                <a href="{{ settings.social_snapchat_link }}" target="_blank">
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li>
                <a href="{{ settings.social_youtube_link }}" target="_blank">
                  {%- render 'icon-youtube-black' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
           {%- if settings.social_twitter_link != blank -%}
              <li>
                <a href="{{ settings.social_twitter_link }}" target="_blank" class="link">
                  {%- render 'icon-twitter-black' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li>
                <a href="{{ settings.social_vimeo_link }}" target="_blank">
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
</div>
{% schema %}
  {
    "name": "Join Community Section",
    "presets": [
      {
        "name": "Join Community Section",
        "category": "Join Community"
      }
    ],
    "settings": [
      {
			"type":"text",
			"id":"heading",
			"label": "Heading Title"
		},
       {
            "type": "radio",
            "id": "heading-permission",
            "label": "Do You Want Underline Below Heading?",
          "default": "NO",
            "options": [
        {
            "value": "NO",
            "label": "NO"
        },
        {
            "value": "YES",
            "label": "YES"
        }
            ]
        },
     {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}