<div class="pb-lg-5 pt-lg-5 pt-sm-5 pb-sm-0 text-sm-center text-md-center">
  <div class="page-width position-relative">
     <div class="grid grid--1-col product-grid grid--1-col-tablet grid--2-col-desktop">
       <div class="grid__item mb-1 w-max-100 text-md-center">
        <div class="text-uppercase text-black text-sm-center font-lg-16 font-sm-12 fw-bold">{{section.settings.tag-line}}</div>
        <h2 class="section-medium-title section-title-sm mb-0 mt-0 lh-xl-78 d-inline-lg-block text-sm-center"><span class="text-uppercase">{{section.settings.heading}}</span><br />
        <span class="lh-normal font-best-friend text-teal d-block mt-sm-n1 font-sm-55 ps-lg-2 lh-xl-78">{{section.settings.sub-heading}}</span></h2> 
       </div>
     </div>   
  </div> 
</div>
{% if section.settings.background_color != "#00C0F7" %}
    <div class="blue-teal-gradient-bg border-radius-sm-3 text-sm-center mt-sm-p-40 min-h-lg-400">
  {% endif %}  
 <div class="min-h-lg-400 mt-sm-p-40" style="background:{{ section.settings.background_color }}"> 
  <div class="page-width pb-lg-3 pt-lg-3 pt-sm-5 pb-sm-2 text-black">
    <div class="grid grid--1-col product-grid grid--2-col-tablet grid--2-col-desktop position-relative justify-content-sm-center justify-content-md-center">
        <div class="become-img-right-position">
          <div class="">
            <img class="max-img-fluid border-radius-sm-3 mt-nt-md-10" src="{{section.settings.section-image | image_url}}" />
          </div>  
        </div> 
       <div class="grid__item">
         <p class="findtext fw-bold font-sm-14 w-xl-90 col-md-100 pb-3">{{ section.settings.paragrap-title }}</p>
         <div class="gap-2 d-flex justify-content-sm-center justify-content-md-center">
          <a href="{{section.settings.section-button-url}}" class="btn-black btn-outline-black justify-content-center text-uppercase font-sm-12 btn-small-sm w-sm-130">{{section.settings.section-button}}</a>
          <a href="{{section.settings.signup-button-url}}" class="btn-black btn-outline-black justify-content-center text-uppercase font-sm-12 btn-small-sm w-sm-130">{{section.settings.section-signup-button}}</a>
         </div>
      </div>
    </div>
  </div>
</div>
</div> 

{% schema %}
  {
    "name": "National summer points",
    "presets": [
      {
        "name": "National summer points",
        "category": "National summer points"
      }
    ],
   "settings": [
       {
			"type":"text",
			"id":"tag-line",
			"label": "Tag Line"
		},
       {
			"type":"text",
			"id":"heading",
			"label": "Heading Title"
		},
      {
       "type": "text",
       "id": "sub-heading",
       "label": "Sub Title"
      },
      {
       "type": "text",
       "id": "paragrap-title",
       "label": "Paragraph Title"
      },
      {
 			"type": "image_picker",
 			"id": "section-image",
 			"label": "Section Image"
 		},
      {
 			"type": "text",
 			"id": "section-button",
 			"label": "Section Button Title"
 		},
		{
			"type": "url",
 			"id": "section-button-url",
 			"label": "Button Link"
		},
      {
 			"type": "text",
 			"id": "section-signup-button",
 			"label": "Sign Up Button Title"
 		},
		{
			"type": "url",
 			"id": "signup-button-url",
 			"label": "Sign Up Button Link"
		},
      {
           "type": "color",
           "id": "background_color",
           "label": "Background color",
           "default": "#00C0F7"
        }
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}