<div id="Coachresources">
 <div id=""> 
  <div class="page-width text-center">
    <div class="mb-4 mb-sm-0">
       <!-- <h2 class="text-uppercase section-title section-title-sm mb-0 lh-sm-90 mb-2 lh-xl-78">{{section.settings.heading}}</h2> -->
        {% case section.settings['heading-size'] %}
      {% when 'h1' %}
        <h1 class="text-uppercase section-title section-title-large mb-0 lh-sm-90 mb-2 mb-sm-1 lh-xl-78">          
          {{ section.settings.heading }}
        </h1>
      {% when 'h2' %}
        <h2 class="text-uppercase section-title section-title-medium mb-0 lh-sm-90 mb-2 mb-sm-1 lh-xl-78">          
          {{ section.settings.heading }}
        </h2>
      {% when 'h3' %}
        <h3 class="text-uppercase section-title section-title-small mb-0 lh-sm-90 mb-2 mb-sm-1 lh-xl-78">          
          {{ section.settings.heading }}
        </h3>
    {% endcase %}
        {%- if section.settings.heading-permission == "YES" -%}
        <div class="divider-sm-teal divider-lg-teal"></div>
      {%- endif -%}
    </div>  
  </div>
<div class="page-width pb-lg-5 pt-lg-5 pt-sm-4 pb-sm-4">
  <div class="resources-carousel owl-carousel">
    {% for block in section.blocks %}
      <div class="resources-players">
        <div class="position-relative img-bottom-shadow">
          <div class="border-radius-lg-3 border-radius-sm-3 media--landscape" style="background:url('{{block.settings.block-image |  img_url:'large'}}') no-repeat center center; background-size: cover; display:block"></div>
              <div class="position-absolute start-top end-right">
                  <div class="d-flex justify-content-end align-items-center mb-3 position-relative z-index-1 p-lg-3 p-sm-1">
                      {%- if block.settings.permission == "Video" -%}
                      <a href="{{block.settings.section-button-url}}" class="video-btn popup-youtube text-uppercase gap-2 font-tungsten-medium position-relative"><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/playbtn.svg?v=1671442348">{{block.settings.section-button}}</a> 
                      {% endif %}
                      {% if block.settings.permission == "Artical" %}
                      <a href="{{block.settings.section-button-url}}" target="_blank" class="video-btn text-uppercase gap-2 font-tungsten-medium position-relative"><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/read_more_Icon.svg?v=1674828254">{{block.settings.section-button}}</a> 
                      {% endif %}
                  </div>
              </div>  
              <div class="end-0 position-absolute w-100">
                 <div class="d-flex justify-content-start align-items-start gap-2 position-relative z-index-1 p-lg-3 p-sm-1">
                    <p class="text-white mb-0 font-sm-14 gotham-medium w-xl-75">{{block.settings.description}}</p>
                </div>
              </div>  
            </div>  
         </div>
       {% endfor %}
   </div>
</div>
</div>  
</div>
  <style>

      .section-title.section-title-large {
    font-size: 80px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-small {
    font-size: 35px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}
  

  @media screen and (max-width: 749px){
    .section-title.section-title-large {
    font-size: 60px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-small {
    font-size: 26px;
    color: var(--color-black);
    font-family: var(--font-Tungsten);
}

.section-title.section-title-medium {
    font-size: 40px;
}
  }

</style>  
{% schema %}
  {
    "name": "Two Col Video Buttons",
    "presets": [
      {
        "name": "Two Col Video button Players",
        "category": "Two Col Video button Players"
      }
    ],
    "settings": [
      {
			"type":"text",
			"id":"heading",
			"label": "Heading Title"
		},
             {
    "type": "select",
    "id": "heading-size",
    "label": "Heading Size",
    "options": [
      {
        "value": "h1",
        "label": "Large"
      },
      {
        "value": "h2",
        "label": "Medium"
      },
      {
        "value": "h3",
        "label": "Small"
      }
    ],
    "default": "h2"
  },
       {
            "type": "radio",
            "id": "heading-permission",
            "label": "Do You Want Underline Below Heading?",
          "default": "NO",
            "options": [
        {
            "value": "NO",
            "label": "NO"
        },
        {
            "value": "YES",
            "label": "YES"
        }
            ]
        }
    ],
    "blocks":[
	  {
		"type":"home-card",
		"name":"block-image",
		"settings":[
           {
  		      "type": "image_picker",
         	  "id": "block-image",
         	  "label": "Card Image"
  		   },
  		  {
           "type": "text",
           "id": "description",
           "label": "Description"
          },

          {
            "type": "radio",
            "id": "permission",
            "label": "Video OR Artical",
          "default": "Video",
            "options": [
        {
            "value": "Video",
            "label": "VIDEO"
        },
        {
            "value": "Artical",
            "label": "ARTICAL"
        }
            ]
        },
          
          {
   			"type": "text",
   			"id": "section-button",
   			"label": "Button Title"
   		   },
    		{
    			"type": "url",
     			"id": "section-button-url",
     			"label": "Button Link"
    		}
		]
	  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}"></script>