<style>
.slick-slide{margin-left:8px; margin-right:8px;}
.slick-slide.slick-active.slick-center {transition: all 0.4s ease-in-out;}
.team-member .teamimg{transition: all 0.5s; cursor: pointer;}
.slick-carousel-complex-variant-1 .slick-next:before {
    background:url('https://cdn.shopify.com/s/files/1/0690/8071/1488/files/arrow-right_cd5e75b6-5dd5-4c8a-bfa8-2925d0930f72.svg?v=1675748941') no-repeat top center;
    width:40px;
    height:40px;  
}
.slick-carousel-complex-variant-1 .slick-prev:before {
    background:url('https://cdn.shopify.com/s/files/1/0690/8071/1488/files/arrow-left_ca496818-8957-48f5-afb5-dac64c36737e.svg?v=1675748941') no-repeat top center;
    width:40px;
    height:40px;  
}
.slick-carousel-complex-variant-1 .slick-prev:before, 
.slick-carousel-complex-variant-1 .slick-next:before {
    font-size: 40px;
    opacity: 100;
    color: transparent;
}
.slick-initialized .slick-slide .itemhides{display:none !important; overflow:hidden}
.slick-slide.slick-active.slick-center .itemhides{display:block !important;}
@media(max-width:991px){
  .team-member .teamimg{padding-bottom:100%;} 
  .team-member .teamimg{margin-top:2.5rem;}
  .slick-slide.slick-active.slick-center .teamimg {filter: grayscale(0%);margin-top: 5px;}
  .slick-slide.slick-active.slick-center .teamimg{padding-bottom:120%;}
  .slick-slide.slick-active.slick-center .itemhides{margin-left:-30%; margin-right:-30%;}
  .slick-carousel-complex-variant-1 .slick-prev, 
  .slick-carousel-complex-variant-1 .slick-next{top:auto; bottom:-80px}
  .slick-carousel-complex-variant-1 .slick-prev, 
  .slick-carousel-complex-variant-1 .slick-next{width:42px; height:58px; z-index:9;}
  .slick-carousel-complex-variant-1 .slick-next {right: 37%;}
  .slick-carousel-complex-variant-1 .slick-prev {left: 37%;}
  .itemhides{padding-top:6rem}
}
 @media(min-width:992px){
  .team-member .teamimg{/*height: 330px;*/ padding-bottom:100%} 
  .team-member .teamimg{margin-top:2.5rem;}
  .slick-slide.slick-active.slick-center .teamimg {padding-bottom:120%;filter: grayscale(0%);margin-top: 0;}
  .slick-carousel-complex-variant-1 .slick-prev, 
  .slick-carousel-complex-variant-1 .slick-next{width:40px; height:40px; z-index:1;}
  .slick-carousel-complex-variant-1 .slick-next {right: 24px;}
  .slick-carousel-complex-variant-1 .slick-prev {left: 24px;}
}
.teamimg:hover {filter: grayscale(0%);}
@media(min-width:1200px){
  .team-member .teamimg{margin-top:3.5rem;}
  .team-member .teamimg{/*height: 330px;*/ padding-bottom:100%} 
  .slick-slide.slick-active.slick-center .teamimg {padding-bottom:120%;filter: grayscale(0%);margin-top: 0;}
}  
@media(min-width:1800px){
  .team-member .teamimg{margin-top:6.5rem;}
}  
</style>
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
<div class="page-width text-center pt-lg-0 pt-sm-3">
  <div class="text-center mb-4 mb-sm-1">
    <h2 class="text-uppercase section-title section-title-sm mb-0 lh-sm-40 mb-sm-2">{{section.settings.heading}}</h2>
    {%- if section.settings.heading-permission == "YES" -%}
    <div class="divider-sm-teal divider-lg-teal"></div>
    {%- endif -%}
  </div>
</div>
<div class="position-relative text-center pb-lg-5 pb-sm-3">
   <div class="slick-carousel-complex-variant-1 team-member overflow-hidden">
          <div id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1" data-center-mode="true" data-center-margin="0" class="slick-slider slick-slider-images slick-slider">
            {% for block in section.blocks %}   
              <div class="item">
                 <div class="teamimg border-radius-lg-3 border-radius-sm-3" style="background:url('{{block.settings.block-image |  img_url:'large'}}') no-repeat center center; background-size: cover;display:block;"></div>
              </div>
            {% endfor %}
          </div>
                <div data-arrows="false" data-loop="true" data-dots="true" data-swipe="true" data-child="#child-carousel" data-for="#child-carousel" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-slide-to-scroll="1" data-center-mode="true" class="slick-slider carousel-parent slick-dots-variant-1 offset-top-40">
               {% for block in section.blocks %}      
                  <div class="item">
                    <div class="itemhides">
                      <div class="team-name mt-3 lh-xl-78 text-black mb-2 lh-sm-normal">{{block.settings.member}}</div>
                      <div class="divider-sm-teal divider-lg-teal"></div>
                      <div class="team-text text-black mt-2 fw-bold">{{block.settings.description}}</div>
                    </div>
                  </div>
                {% endfor %}  
                </div>
              </div>
</div>
{% schema %}
  {
    "name": "team Slider Section",
    "presets": [
      {
        "name": "team Slider Section",
        "category": "team Slider Section"
      }
    ],
    "settings": [
        {
      "type":"text",
      "id":"heading",
      "label": "Heading Title"
    },
      {
            "type": "radio",
            "id": "heading-permission",
            "label": "Do You Want Underline Below Heading?",
          "default": "NO",
            "options": [
        {
            "value": "NO",
            "label": "NO"
        },
        {
            "value": "YES",
            "label": "YES"
        }
            ]
        },
        {
      "type":"text",
      "id":"sub-heading",
      "label": "Sub Title"
    }
    ],
     "blocks":[
    {
    "type":"team-card",
    "name":"Team block",
    "settings":[
          {
            "type": "image_picker",
            "id": "block-image",
            "label": "Card Image"
         },
        {
      "type":"text",
      "id":"member",
      "label": "Member Name"
    },  
        {
      "type":"text",
      "id":"description",
      "label": "Description"
    }
    ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script src="{{ 'slick.min.js' | asset_url }}"></script>
<script>
 var userAgent = navigator.userAgent.toLowerCase(),
  initialDate = new Date(),
  $document = $(document),
  $window = $(window),
  $html = $("html"),
  isDesktop = $html.hasClass("desktop"),
  isIE = userAgent.indexOf("msie") != -1 ? parseInt(userAgent.split("msie")[1]) : userAgent.indexOf("trident") != -1 ? 11 : userAgent.indexOf("edge") != -1 ? 12 : false,
  isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
  isTouch = "ontouchstart" in window,
  plugins = {
    
    slick: $('.slick-slider'),
    
  };
$document.ready(function () {
  var isNoviBuilder = window.xMode;
  (function ($) {
    if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Mac') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
      $('html').addClass('mac');
    }
  })(jQuery);

  if (plugins.slick.length) {
    var i;
    for (i = 0; i < plugins.slick.length; i++) {
      var $slickItem = $(plugins.slick[i]);
      $slickItem.slick({
        slidesToScroll: parseInt($slickItem.attr('data-slide-to-scroll')) || 1,
        asNavFor: $slickItem.attr('data-for') || false,
        dots: $slickItem.attr("data-dots") == "true",
        infinite: isNoviBuilder ? false : $slickItem.attr("data-loop") == "true",
        focusOnSelect: true,
        arrows: $slickItem.attr("data-arrows") == "true",
        swipe: $slickItem.attr("data-swipe") == "true",
        autoplay: $slickItem.attr("data-autoplay") == "false",
        vertical: $slickItem.attr("data-vertical") == "true",
        centerMode: $slickItem.attr("data-center-mode") == "true",
        centerPadding: $slickItem.attr("data-center-padding") ? $slickItem.attr("data-center-padding") : '0.50',
        mobileFirst: true,
        responsive: [{
          breakpoint: 0,
          settings: {
                    centerPadding: '80px',
                    centerMode: true,
                    infinite: true,
                    speed: 220,
                    adaptiveHeight: false,
            slidesToShow: parseInt($slickItem.attr('data-items')) || 1,
          }
        }, {
          breakpoint: 480,
          settings: {
                    centerPadding: '150px',
                    centerMode: true,
                    infinite: true,
                    speed: 220,
                    adaptiveHeight: false,
            slidesToShow: parseInt($slickItem.attr('data-xs-items')) || 1,
          }
        }, {
          breakpoint: 768,
          settings: {
                     centerPadding: '200px',
                    centerMode: true,
                    infinite: true,
                    speed: 220,
                    adaptiveHeight: true,
            slidesToShow: parseInt($slickItem.attr('data-sm-items')) || 1,
          }
        }, 
        {
          breakpoint: 992,
          settings: {
                    centerPadding: '60px',
                    centerMode: true,
                    speed: 220,
                    infinite: true,
                    adaptiveHeight: true,
            
            slidesToShow: parseInt($slickItem.attr('data-md-items')) || 1,
          }
        },
       {
          breakpoint: 1199,
          settings: {
                     centerPadding: '100px',
                    centerMode: true,
                    infinite: true,
                    adaptiveHeight: true,
                    speed: 220,
            slidesToShow: parseInt($slickItem.attr('data-md-items')) || 1,
          }
        }              
      ]
      }).on('afterChange', function (event, slick, currentSlide, nextSlide) {
        var $this = $(this),
          childCarousel = $this.attr('data-child');
        if (childCarousel) {
          $(childCarousel + ' .slick-slide').removeClass('slick-current');
          $(childCarousel + ' .slick-slide').eq(currentSlide).addClass('slick-current');
        }
      });
    }
  } 
  
});

</script>